
<div id="let_connect" class="Scrollable let_connect_content">
    <div class="overlay-content--">
        <div class="bg-clr-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 contect_page">
                        <div class="connect_byroom-desc">
                            <div class="col-md-5 col-sm-12 col-xs-12  col-md-offset-1  connect right-side">
                                
                                    <div class="col-sm-12  mb20">
                                        <p class="title_project mb20"  aria-hidden="true">{{title_project}}</p>
                                        <ul class="emails nopadding">
                                            <li class="contract_text mb20" >
                                                <div class="col-sm-12 nopadding">
                                                    <span><b translate="general_inquiries"></b></span> 
                                                    <span class="byroom-content fontSize12" translate="(product services)"></span>
                                                </div>
                                                <div class="col-sm-12 nopadding">
                                                    <a class="blackcolor" href="mailto:info@sedarglobal.com?Subject=connect">info@sedarglobal.com</a>
                                                </div>
                                            </li>
                                            <li class="contract_text mb20" >
                                                <div class="col-sm-12 nopadding">
                                                    <span><b translate="customer_service"></b></span> 
                                                    <span class="byroom-content fontSize12" translate="(online_order)"></span>
                                                </div>
                                                <div class="col-sm-12 nopadding">
                                                    <a class="blackcolor" href="mailto:wecare@sedarglobal.com?Subject=connect">wecare@sedarglobal.com</a>
                                                </div>
                                            </li>
                                            <li class="contract_text mb20" >
                                                <div class="col-sm-12 nopadding">
                                                    <span><b translate="sedar_contracts"></b></span>
                                                    <span class="byroom-content fontSize12" translate="(projects, tenders, commercial builders)"></span>
                                                </div>
                                                <div class="col-sm-12 nopadding">
                                                    <a class="blackcolor"  href="mailto:projects@sedarglobal.com?Subject=connect">projects@sedarglobal.com</a>
                                                </div>
                                            </li>

                                            <li class="contract_text mb20" >
                                                <div class="col-sm-12 nopadding">
                                                    <span><b translate="franchise_inquiries"></b></span> 
                                                    <span class="byroom-content fontSize12" translate="(investment opportunities)"></span>
                                                </div>
                                                <div class="col-sm-12 nopadding">
                                                    <a class="blackcolor" href="mailto:franchise@sedarinternational.com?Subject=connect">franchise@sedarinternational.com</a> 
                                                </div>
                                            </li>                                          

                                            <li class="contract_text mb20" >
                                                <div class="col-sm-12 nopadding">
                                                    <span><b translate="marketing"></b></span>
                                                    <span class="byroom-content fontSize12" translate="(marketing opportunities)"></span>
                                                </div>
                                                <div class="col-sm-12 nopadding">
                                                    <a class="blackcolor" href="mailto:marketing@sedarglobal.com?Subject=connect">marketing@sedarglobal.com</a>
                                                </div>
                                            </li>
                                            <li class="contract_text mb20" >
                                                <div class="col-md-12 nopadding">
                                                    <span><b translate="careers"></b></span>
                                                    <span class="byroom-content fontSize12" translate="(job seeking opportunities)"></span>
                                                </div>
                                                <div class="col-sm-12 nopadding">
                                                    <a class="blackcolor" href="mailto:careers@sedarglobal.com?Subject=connect">careers@sedarglobal.com</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>


                                    <!-- <div  class="col-md-12 mb20 nopadding" >
                                        <div class=" col-xs-12 col-md-12  direction" style="line-height: 2.4;">
                                            <h5 class="footer__heading" translate="subscribe_to_our_special_offers"></h5>
                    
                                            <div ng-if="subscribe_mgs" class="alert alert-dismissible" ng-class="subscribe_class" ng-show="newsletter">
                                                <a href="" class="close" aria-label="close" ng-click="subscribeClose()">&times;</a>
                                                {{subscribe_mgs}}
                                            </div>
                                            <form class="measurement-form enquiry_form" ng-submit="subscribe()" place-holder>
                                                <div class="col-sm-6 col-md-7 col-xs-8  nopadding right-side">
                                                    <input class="js-field-input" type="email" ng-model="enquiry_form.ECE_EMAIL" maxlength="60" required=""  placeholder="{{'Email_address'| translate}}" >
                                                </div>
                                                    
                                                <div class="col-sm-6 col-md-5 col-xs-4">                          
                                                    <button class="btn btn-new-dark submit_btn" ladda="subscribe_waiting" translate="subscribe"></button>
                                                </div> 
                                            </form>
                                        </div>
                                        
                                    </div> -->
                               
                            </div>
                            <div class="col-md-4 col-sm-10 col-xs-12  col-md-offset-1 right-side direction">
                                <!-- <div ng-if="measurement_mgs" class="alert alert-dismissible" ng-class="measurement_class">
                                    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{measurement_mgs}}
                                </div> -->
                                <div class="col-sm-12 nopadding design-hub text_right">
                                    <h2 translate="lets_connect"></h2>
                                </div>

                                <div ng-if="measurement_mgs" class="row alert alert-dismissible" ng-class="measurement_class" style="clear: both;">
                                    <a href="" class="close" data-dismiss="alert" aria-label="close" ng-click="pageRefresh();">&times;</a>
                                   <div class="col-md-12 meas_text" style="padding: 0px;"> {{measurement_mgs}}</div>
                                
                                    <div class="col-md-12" style="padding-top:15px;">
                                        <button class="btn btn-info" ng-click="pageRefresh();" translate="close" style="float: right;">Close</button>
                                    </div>
                                </div>
                            <div ng-hide="measurement_mgs">
                                <form class="measurement-form enquiry_form" name="measure_form"  ng-submit="enquiry(measure_form.$valid)" place-holder novalidate>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-6 form-group" ng-class="{ 'has-error' : measure_form.ECE_FIRST_NAME.$invalid && (measure_form.ECE_FIRST_NAME.$dirty || submitted)}">
                                            <div class="palceholder">
                                                <span for="name" translate="first_name">First Name</span>
                                                <span class="star">*</span>
                                            </div>
                                            <input type="text" class="placeholder_class form-control" name="ECE_FIRST_NAME" ng-model="enquiry_form.ECE_FIRST_NAME" placeholder="" required="required">
                                            <p ng-show="measure_form.ECE_FIRST_NAME.$invalid && (measure_form.ECE_FIRST_NAME.$dirty || submitted)" class="help-block" translate="enter_first_name"></p>

                                        </div>
                                        <div class="col-md-12 col-sm-6 form-group" ng-class="{ 'has-error' : measure_form.ECE_LAST_NAME.$invalid && (measure_form.ECE_LAST_NAME.$dirty || submitted)}">
                                            <div class="palceholder">
                                                <span for="name"  translate="last_name">Last Name</span>
                                                <span class="star">*</span>
                                            </div>
                                            <input type="text" class="placeholder_class form-control" name="ECE_LAST_NAME" ng-model="enquiry_form.ECE_LAST_NAME" placeholder="" required="required" >
                                            <p ng-show="measure_form.ECE_LAST_NAME.$invalid && (measure_form.ECE_LAST_NAME.$dirty || submitted)" class="help-block" translate="enter_last_name"></p>

                                        </div>
                                        <div class="col-md-12 col-sm-6 form-group" ng-class="{'has-error' : measure_form.ECE_CONTACT_NO.$invalid && (measure_form.ECE_CONTACT_NO.$dirty || submitted)}">
                                            <!-- <div class="palceholder">
                                                <span for="name">Contact Number</span>
                                                <span class="star">*</span>
                                            </div>   -->
                                            <input type="text" class="placeholder_class form-control" name="ECE_CONTACT_NO" ng-model="enquiry_form.ECE_CONTACT_NO" placeholder="" required="required" ng-intl-tel-input>
                                            <p ng-show="measure_form.ECE_CONTACT_NO.$invalid && (measure_form.ECE_CONTACT_NO.$dirty || submitted)" class="help-block" translate="enter_mobile_number"></p>

                                        </div>
                                        <div class="col-md-12 col-sm-6 form-group" ng-class="{'has-error' :measure_form.ECE_EMAIL.$invalid && (measure_form.ECE_EMAIL.$dirty || submitted)}">
                                            <div class="palceholder">
                                                <span for="name"  translate="email">Email</span>
                                                <span class="star">*</span>
                                            </div>
                                            <input type="email" class="placeholder_class form-control" name="ECE_EMAIL" ng-model="enquiry_form.ECE_EMAIL" placeholder="" required="">
                                            <p ng-show="measure_form.ECE_EMAIL.$invalid && (measure_form.ECE_EMAIL.$dirty || submitted)" class="help-block" translate="enter_valid_email"></p>

                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 pull-right form-group" ng-class="{
                                            'has-error'
                                            : measure_form.ECE_CATEGORY_CODE.$invalid && (measure_form.ECE_CATEGORY_CODE.$dirty || submitted)}" style="padding-bottom: 7px;">
                                            <select  title="{{'Contact_Categories'| translate}}" class="country_dropdown selectpicker" name="ECE_CATEGORY_CODE" ng-model="enquiry_form.ECE_CATEGORY_CODE" required="" >
                                                <!-- <option ng-repeat="val in hour_time" ng-value="val">{{val}}</option> -->
                                                <option ng-repeat="val in ContactCategories" ng-value="val.VSL_CODE">{{val.VSL_DESC }}</option>
                                            </select>
                                            <p ng-show="measure_form.ECE_CATEGORY_CODE.$invalid && (measure_form.ECE_CATEGORY_CODE.$dirty || submitted)" class="help-block" translate="choose_Contact_Categories"></p>
            
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': measure_form.ECE_REMARKS.$invalid &&  (measure_form.ECE_REMARKS.$dirty || submitted)}">
                                            <div class="palceholder">
                                                <span for="name"  translate="message">Message</span>
                                                <span class="star">*</span>
                                            </div>
                                            <textarea placeholder="" class="placeholder_class form-control" name="ECE_REMARKS" ng-model="enquiry_form.ECE_REMARKS" required=""></textarea>
                                            <p ng-show="measure_form.ECE_REMARKS.$error.required && (measure_form.ECE_REMARKS.$dirty || submitted)" class="has-error" translate="enter_address"></p>

                                        </div>
										<div class="col-sm-8 col-md-8 col-xs-8 footer deskshow">
											<div  id="socials_letConnect_show" >
												<a target="_blank" href="https://www.facebook.com/Sedar.Global"><i class="fab fa-facebook-f blackcolor fontSize22 paddingRight15" title="Facebook"></i></a>
												<a target="_blank" href="https://www.instagram.com/sedarglobal/"><i class="fab fa-instagram blackcolor fontSize22 paddingRight15" title="Instagram"></i></a>
												<a target="_blank" href="https://twitter.com/SedarGlobal"><i class="fab fa-twitter blackcolor fontSize22 paddingRight15" title="Twitter"></i></a>
												<a target="_blank" href="https://www.youtube.com/channel/UCIwYcdStV6fdKj01IDf-yRw"><i class="fab fa-youtube blackcolor fontSize22 paddingRight15 Youtube_in" title="Youtube"></i></a>
											</div>
										</div>
                                        <div class="col-sm-4 col-md-3 pull-right">
                                            <input type="hidden" ng-model="enquiry_form.ECE_ENQUIRY_TYPE" value="C" />
                                            <button class="btn btn-new-dark submit_btn" ladda="waiting" translate="submit" style="float: right;"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                            </div>
                        </div>
                    </div>
                </div>


                <!-- <div class="go_back_btn foot-move  letsconnect">
                    <a href="" ng-click="closePage('let_connect')">
                        <span><i class="fas fa-angle-left goback_arrow"></i>
                            <span class="goback"translate="back" ></span>
                        </span>
                    </a>
                </div> -->


                
            </div>
        </div>
    </div>
</div>