<style>
    #shwrm_pg_product{
        background: url('./assets/images/yourspace.png');
        background-repeat: no-repeat;
        background-size: 80% auto;
        
        background-position-y: top;
    }
    .slidebutton a:hover, .slidebutton button:hover{
        background-color:#ec971f;
    }
</style>
<div class="shwrm_pg_product">
    <section id="shwrm_pg_product">
        <div class="burgermenu">
            <a href="#"><em class="fas fa-bars" ng-click="ShowroomleftSideMenu(true)"></em></a>
        </div>
        <div class="productheading">
           
           <h1 ng-if="id == 1"> <span class="PorterBold"> How to Measure</span></h1>   
           <h1 ng-if="id == 2"> <span class="PorterBold"> How to Install</span></h1>   
        </div>
        <div class="Singleproductslider">
            
            <div class="container">
                <div class="col-md-12">

                    <div class="owl-carousel owl-theme" id="productslidershow">
                        
                        <div class="item" ng-repeat="line in measureInstall">
                            <div class="productslide">
                                <div class="slideroom">
                                    <div class="slideheading">
                                        <h3>{{line.SPT_DESC}}</h3>
                                    </div>
                                    <div class="slideimage" ng-repeat="row in line.childline" ng-if="row.SPT_ORDERING == id">
                                        
                                        <div class="slideimage" ng-repeat="child in row.childline">
                                            <center>
                                                <div class="col-md-12" style="border-bottom: 1px solid #d7d7d7; padding: 5px 0 !important;">
                                                    <div class="col-md-8">{{child.SPT_DESC}}</div>
                                                    <div class="col-md-2">
                                                        <a ng-href="https://bkt.sedarglobal.com/{{child.SPT_BANNER_PATH}}" target="_blank" ng-if="child.SPT_BANNER_PATH">
                                                            <i class="far fa-file-pdf" style="font-size: 30px;text-align: center;color: #000;margin-top: 11px;"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a style="font-size: 30px;text-align: center;color: #000;" ng-click="videoBtn('https://bkt.sedarglobal.com/'+ child.SPT_IMAGE_PATH)" ng-if="child.SPT_IMAGE_PATH">
                                                            <i class="far fa-play-circle"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        

                    </div>
                </div>

            </div>

        </div>

    </section>
</div>
<div class="direction" ng-include="temp_path + 'showroom/ShowroomleftSideMenu.html?v='+version"></div>