<style>
    .page_not_found  a{
        color: #363B9B;
    }
    .page_not_found footer{
        position: absolute;
        bottom: 0;
    }

</style>
<div class="" ng-include="temp_path + 'showroom/Burgermenu.html?v='+version"></div>
<div class="page_not_found" data-sim >
    <div class="">
        <div> <img src="{{asset_img}}404_banner.jpg" style="width: 100%; height: 45vh;"></div>
        <div class="container">
            <div class="col-md-12 row">
                <div class="col-md-6">	
                    <img src="{{asset_img}}404-page_not_foundage.jpg">
                    <div class="col-md-12" style="text-align: center;">
                        <h3 style="font-size: 20px;" translate="oops_sorry_title11">Oops! Sorry, we could not find the page</h3>
                    </div>
                </div>
                <div class="col-md-6" style="padding-top: 4%; margin-bottom: 50px;" >
                    <h3 style="color:#000;;font-weight: bolder;font-size: 20px;" translate="oops_sorry_title22"> Sorry, we couldn't find the page you're looking for</h3>
                    <ul  class="" style="padding-left:0;	"> 
                        <li> <a href="showroomProduct/5958" style="color: #363B9B;" translate="blinds_shades">Blinds & Shades (Buy Online)</a> </li> 
                        <li> <a href="showroomProduct?desc=Explore Collection&id=68243" style="color: #363B9B;" translate="wallpaper">Wallpaper (Buy Online)</a> </li> 
                        <li> <a href="showroomProduct?desc=Classic Folding Doors&id=5941" style="color: #363B9B;" translate="folding_doors">Folding Doors (Buy Online)</a> </li>
                    </ul>	
                    <a href="/" class="btn btn-new-dark submit_btn" translate="home">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>