<style>
    #left_side_menu {
        top: 0;
    }

    #shwrm_pg_product {
        max-width: 1500px;
        margin: 0 auto;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;

    }

    .shwrm_pg_product .productheading {
        max-width: 1357px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
    }

    .Singleproductslider .owl-stage {
        padding-left: 0 !important;
    }

    .Singleproductslider {
        padding-bottom: 80px;
        overflow-x: hidden;
    }


    .productheading h1 {
        border-left: 5px solid #f5b05f;
        line-height: 21px;
        margin: 0;
        padding-left: 10px;
        color: #85878b;

    }

    .productheading p {
        padding: 20px;
        line-height: normal;
    }

    .Singleproductslider .productcardimg {
        /* max-width: 150px !important; */
        width: 100%;
    }

    .shwrm_pg_product .burgermenu a {
        font-size: 25px;
        color: #f5b05f;
    }
    .shwrm_pg_product .slideheading{
        width: 90%;
    }

    .shwrm_pg_product .slideheading h3 {
        font-weight: bold;
        border-bottom: 4px solid #f5b05f;
        text-align: left;
        /*width: max-content;*/
        padding-bottom: 5px;
        font-size: 16px;
    }

    .productdetail {
        background: #ececed;
        text-align: left;
        padding: 8px 10px;
        min-height: 200px;
    }

    .productdetail h6 {
        font-weight: bold;
    }

    .productdetail ul {
        padding-left: 10px;

    }

    .slideimage {
        position: relative;
    }

    .slideimage .utilityicons {
        position: absolute;
        right: 5%;
        top: 2%;
        text-align: center;
    }

    .slideimage .heart_icon {
        position: relative;
        padding: 5px 6px;
        background: #fff;
        border-radius: 5px;
        color: #fac775;
        margin: 5px 0 0 0;

    }

    .slideimage .share_icon a em {
        color: #fac775;
    }

    .slideimage .share_icon {
        position: relative;
        padding: 2px 7px;
        margin: 0;
        background: #fff;
        border-radius: 5px;
        color: #fac775;
    }



    .productdetail ul li {
        font-size: 10px;
        list-style: disc;

    }

    .one-btn .btn-primary {
        border: none;
    }

    #shwrm_pg_product .owl-nav [class*="owl-"]:hover {
        background: none;
    }

    #shwrm_pg_product .owl-nav .owl-prev {
        position: absolute;
        left: -85px;
        top: 40%;
    }

    #shwrm_pg_product .owl-nav .owl-next {
        position: absolute;
        right: -85px;
        top: 40%;
    }

    /* .coming_soon_icon {
        display: none;
    }

    .prev,
    .next {
        padding: 0;
    }

   
    #theCarousel .carousel-control {
        width: 5%;
    } */

    /* #theCarousel .carousel-control {
        left: -50px;
        top: 50%;

    }

    #theCarousel .carousel-control.right {
        left: auto;
        right: -50px;
    } */
    .slidebutton {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
    }
    .slidebutton .btn{
        width: 47%;
        border-radius: 0;
        border: none;       
        font-weight: bold;
        
    }
    .slidebutton .one{
        color: #000;
        background-color: #FDCC5D;
    }
    .slidebutton .two{
        color: #fff;
        background-color: #4A419F;
    }
    

    .browsebutton {
        padding:0;
    }
    .browsebutton a {
        background-color: #803FB7;
        font-weight: bold;


    }
    
</style>
<div class="shwrm_pg_product">
    <section id="shwrm_pg_product">
        <div class="burgermenu">
            <a href="#"><em class="fas fa-bars" ng-click="ShowroomleftSideMenu(true)"></em></a>
        </div>
        <div class="productheading">
            <h1> <span class="PorterBold">Curtain</span> <span>&</span> <span class="PorterBold"> drapes</span></h1>
            <p>We develop & bring international trends to deliver world class designs <br> to our customers. Imbibed in
                each of our products are features like <br> robust construction, durability and long-lasting
                performance.</p>
        </div>
        <div class="Singleproductslider">
            
            <div class="container">
                <div class="col-md-12">

                   

                    <div class="owl-carousel owl-theme" id="productslidershow">
                        
                        <div class="item" ng-repeat="(key, row) in product_item">
                            <div class="productslide">
                                <div class="slideroom">
                                    <div class="slideheading">
                                        <h3>{{row.ECI_DESC}}</h3>
                                    </div>
                                    <div class="slideimage">
                                        <img src="https://bkt.sedarglobal.com/{{row.ECI_IMAGE_PATH}}" alt="">
                                        <div class="slideshareicon">
                                            <div class="utilityicons">
                                                <div class="share_icon"
                                                    data-href="https://www.sedarglobal.com/productInfo?desc=Blinds%20&%20Shades&id=4456&type=S"
                                                    data-layout="button" data-size="small"><a target="_blank"
                                                        href="https://www.facebook.com/sharer/sharer.php?u=https://www.sedarglobal.com/productInfo?desc=Blinds%20&%20Shades&id=4456&type=S&amp;src=sdkpreparse"
                                                        class="fb-xfbml-parse-ignore"><em class="fas fa-share-alt"></em></a>
                                                </div>
                                                <i class="fa-heart {{item.ECI_CODE}} fas heart_icon" ng-if="item.like_count > 1"></i>
                                                <i class="fa-heart {{item.ECI_CODE}}  heart_icon"
                                                    ng-class="{'fas': item.like[0].ECBL_ITEM_PR_CODE == item.ECI_CODE, 'far': item.like[0].ECBL_ITEM_PR_CODE != item.ECI_CODE}"
                                                    data-ecpcode="{{ecp_code}}" data-code="{{item.ECI_CODE}}"
                                                    data-catid="{{product_cat_id}}"
                                                    ng-click="fa_wishList(ecp_code, item.ECI_CODE, product_cat_id, 'productInfo', '');" 
                                                    ng-if="item.like_count < 2"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="productdetail">
                                        <p ng-bind-html="row.ECI_MORE | htmlSafe">{{row.ECI_MORE}}</p>
                                    </div>
                                    <div class="slidebutton">
                                        <a ng-href="customizing/{{product_cat_id}}/{{row.ECI_CODE}}//{{row.ECI_DESC}}{{parameter_url}}{{row.EIC_ECC_CODES?'?ecc_code='+row.EIC_ECC_CODES:'' }}"
                                                class="btn btn-warning one" ng-if="row.ECI_ALLOW_CUSTOMIZATION_YN == 'Y'"
                                                style="color: #000;background: #fac775; border: none;">Start
                                                Customizing</a>
                                        <button type="button" class="btn btn-warning two">More Photos</button>
                                    </div>
                                    <div class="browsebutton col-md-12">
                                        <a ng-href="swatches?desc={{row.ECI_DESC}}&id={{row.ECI_CODE}}{{row.EIC_ECC_CODES?'&&ecc_code='+row.EIC_ECC_CODES:'' }}"
                                            class="btn btn-warning col-md-12"  ng-if="row.COLLECTION_YN == 'Y'">Browse Collection</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        

                    </div>
                </div>

            </div>

        </div>

    </section>
</div>
<div class="direction" ng-include="temp_path + 'showroom/ShowroomleftSideMenu.html?v='+version"></div>