<style>
    /* #showroom_landing_page {} */

    #showroom_landing_page {
        background: #ebb15f;

    }

    .showroom_landing_page_banner {
        position: relative;
        text-align: center;


    }

    .showroom_landing_page_banner .contenttxt {
        position: absolute;
        bottom: 3%;
        width: 100%;
        text-align: center;
    }

    .showroom_landing_page_banner .contenttxt_text {
        padding-top: 15px;
    }

    .productheading {
        max-width: 1920px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 40px;

    }

    .slider_content {
        max-width: 1920px;
        width: 100%;
    }

    #productslider .owl-dots {
        bottom: 0;
    }

    #productslider .owl-stage-outer {
        padding: 40px 0 30px 0;
        text-align: center;
    }


    #productslider .owl-nav {
        position: absolute;
        right: 0;
        top: 40%;
        display: flex;
        flex-direction: column-reverse;
    }

    #productslider .owl-nav button {
        display: block;
    }

    #productslider .owl-nav [class*="owl-"]:hover {
        background: none;
    }

    .productheading h1 {
        font-family: "PorterBold";
        border-left: 5px solid #f5b05f;
        line-height: 21px;
        margin: 0;
        padding-left: 10px;
        color: #85878b;

    }

    #productslider .owl-nav .slidericonImg {
        max-width: 60px !important;
    }

    .productslider .productslideimg {
        /* max-width: 150px !important; */
        max-width: 150px;
        margin: 0 auto;
    }

    #shwrm_pg_product_slider {
        background: url('./assets/images/yourspace.png');
        background-repeat: no-repeat;
        background-size: 60% auto;
        background-position-x: right;
        background-position-y: top;
    }
</style>


<div class="shwrm_pg">
    <section id="showroom_landing_page">
        <div class="container-fluid">
            <div class="row">
                <div class="showroom_landing_page_banner">
                    <img ng-src="../assets/images/Showroom-Disply-Online-Services-1.jpg" alt=""
                        class="img-responsive showroom_landing_page_banner_img">
                    <div class="socialIcon">
                        <ul>
                            <li><a target="_blank" href="https://www.facebook.com/Sedar.Global"> <img
                                        ng-src="../assets/images/fasebook.png" alt="sedar facebook"></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/sedarglobal/"> <img
                                        ng-src="../assets/images/insta.png" alt="sedar facebook"></a></li>
                            <li><a target="_blank" href="https://twitter.com/SedarGlobal"> <img
                                        ng-src="../assets/images/twit.png" alt="sedar facebook"></a></li>
                            <li><a target="_blank" href="#"> <img ng-src="../assets/images/pic.png"
                                        alt="sedar facebook"></a></li>
                        </ul>
                    </div>
                    <div class="contenttxt">
                        <div ng-if="!is_login">
                            <div class="contenttxt_button">
                                <button type="button" class="btn btn-primary"
                                    style="padding: 3px 4%;font-size: 16px !important;font-weight: bold;margin-right: 20px; "
                                    ng-click="loginMenu()">Sign-In</button>
                                <a href="/showroomProduct" type="button" class="btn btn-default"
                                    style="background-color: transparent; padding: 3px 4%;font-size: 16px !important;font-weight: bold;margin-left: 20px">Guest</a>
                            </div>
                            <div class="contenttxt_text">
                                <p class="">
                                    New at Sedar? <a style="color: #fff;" href="#" ng-click="SignUpModal();">Create an
                                        Account</a>
                                </p>
                            </div>
                        </div>
                        <div ng-if="is_login">
                            <h3 class="contenttxt_text"> Welcome to {{login_userName ? login_userName :'my_account' |
                                translate}}</h3>

                            <div class="contenttxt_text">
                                <a style="color: #fff;font-size: 14px;" href="#" ng-click="showRoomLogout();">Logout</a>
                            </div>
                        </div>
                        <img ng-click="gotoAnchor('shwrm_pg_product_slider')" ng-src="../assets/images/image115.gif"
                            alt="" style="width: 30px;padding-top: 2%;" />

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="shwrm_pg_product_slider">
        <div class="slider_content">
            <div class="slider_content_center">
                <div class="productheading">
                    <h1>Products</h1>
                </div>
                <div class="productslider">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="owl-carousel owl-theme" id="productslider">
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <a href="showroomProduct?desc=Drapery-Styles&id=5965">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-01.png" alt="">
                                                    <p>Curtain & Drapes</p>
                                                </a>
                                            </div>
                                            <div class="col-sm-12 pt-25">
                                                <a href="swatches?desc=Textile-Collection&id=134268">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-09.png" alt="">
                                                    <p>Textile Collection</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <a href="showroomProduct?desc=Roman-Shades&id=5950">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-02.png" alt="">
                                                    <p>Roman Shades</p>
                                                </a>

                                            </div>
                                            <div class="col-sm-12 pt-25">
                                                <a href="showroomProduct?desc=Valance & Cornices&id=5970">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-10.png" alt="">
                                                    <p>Valance & Cornices</p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <a href="showroomProduct?desc=Blinds-&-Shades&id=4456&type=S">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-03.png" alt="">
                                                    <p>Blinds & Shades</p>
                                                </a>

                                            </div>
                                            <div class="col-sm-12 col-xs-12 pt-25">
                                                <a href="showroomProduct?desc=Hardware&id=5968">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-11.png" alt="">
                                                    <p>Curtain Accessories</p>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <a href="swatches?desc=Shop-Now&id=68282">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-04.png" alt="">
                                                    <p>Wallpaper</p>
                                                </a>

                                            </div>
                                            <div class="col-sm-12 col-xs-12 pt-25">
                                                <a href="showroomProduct?desc=Accessories&id=5969">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-12.png" alt="">
                                                    <p>Curtain Hardware</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <a href="showroomProduct?desc=Folding-Doors&id=4552&type=S">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-05.png" alt="">
                                                    <p>Folding Door</p>
                                                </a>
                                            </div>
                                            <div class="col-sm-12 col-xs-12 pt-25">
                                                <a href="showroomProduct?desc=Outdoor&id=4546&type=S">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-13.png" alt="">
                                                    <p>Outdoors</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <a href="showroomProduct?desc=Connected-Solutions-&-Controls&id=5945">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-07.png" alt="">
                                                    <p>Motorization & <br> Connectivity</p>
                                                </a>
                                            </div>
                                            <div class="col-sm-12 col-xs-12">
                                                <a href="measureInstall/1">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-14.png" alt="">
                                                    <p>Measurement Guide</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <a href="showroomProduct?desc=Smart-Home-Security&id=5952">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-06.png" alt="">
                                                    <p>Smart Home Devices</p>
                                                </a>
                                            </div>
                                            <div class="col-sm-12 col-xs-12 pt-25">
                                                <a href="measureInstall/2">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-15.png" alt="">
                                                    <p>Installation Guide</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12">
                                                <a href="showroomProduct?desc=Others&id=4551&type=S">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-08.png" alt="">
                                                    <p>Pillows & Cushion</p>
                                                </a>
                                            </div>
                                            <div class="col-sm-12 col-xs-12 pt-25">
                                                <a href="#">
                                                    <img class="productslideimg"
                                                        ng-src="../assets/images/All Icons-16.png" alt="">
                                                    <p>Be Inspired</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="movetopsection" style="position: absolute;bottom: 10%; left: 2%; max-width: 60px;z-index: 111;">
            <a href="/" style="display: block;">
                <img class="slidericonImg" ng-src="../assets/images/rightarrow.png" alt=""
                    style="transform: scaleX(-1);">
            </a>
        </div>

    </section>

</div>

<script type="text/javascript">




    $(document).ready(function () {
        // alert('abc');
        // $('#productslider').owlCarousel({
        //     loop: true,
        //     margin: 0,
        //     nav: true,

        //     navText : ["<img  class='slidericonImg' src='../assets/images/leftarrow.png' />","<img class='slidericonImg'  src='../assets/images/rightarrow.png' />"],

        //     responsive: {
        //         0: {
        //             items: 1
        //         },
        //         380: {
        //             items: 2
        //         },
        //         600: {
        //             items: 3
        //         },
        //         1200: {
        //             items: 4
        //         },
        //         1400: {
        //             items: 5
        //         },
        //         1600: {
        //             items: 6
        //         }



        //     }
        // })


    });

</script>