<style>
    #shwrm_pg_product{
        background: url('./assets/images/yourspace.png');
        background-repeat: no-repeat;
        background-size: 80% auto;
        
        background-position-y: top;
    }
    .slidebutton a:hover, .slidebutton button:hover{
        background-color:#ec971f;
    }
    #productslidershow .owl-nav .slidericonImg {
        max-width:60px !important;
    }
    .productdetail {
        height: 260px;
        overflow-y: hidden;
    }
</style>
<div class="shwrm_pg_product">
    <section id="shwrm_pg_product">
        <div class="burgermenu">
            <a href="#"><em class="fas fa-bars" ng-click="ShowroomleftSideMenu(true)"></em></a>
        </div>
        <div class="productheading">
            <!-- <h1> <span class="PorterBold">Curtain</span> <span>&</span> <span class="PorterBold"> drapes</span></h1>
            <p>We develop & bring international trends to deliver world class designs <br> to our customers. Imbibed in
                each of our products are features like <br> robust construction, durability and long-lasting
                performance.</p> -->
                <p ng-bind-html="product_cat[0].EPG_MORE | htmlSafe">{{product_cat[0].EPG_MORE}}  </p>    
        </div>
        <div class="Singleproductslider">
            
            <div class="container">
                <div class="col-md-12">

                    <div class="owl-carousel owl-theme" id="productslidershow">
                        
                        <div class="item" ng-repeat="(key, row) in product_item">
                            <div class="productslide">
                                <div class="slideroom">
                                    <div class="slideheading">
                                        <h3>{{row.ECI_DESC}}</h3>
                                    </div>
                                    <div class="slideimage">
                                        <img class="owl-lazy" data-src="https://bkt.sedarglobal.com/{{row.ECI_IMAGE_PATH}}" alt="">
                                        <div class="slideshareicon">
                                            <div class="utilityicons">
                                                <!-- <div class="share_icon"
                                                    data-href="https://www.sedarglobal.com/productInfo?desc=Blinds%20&%20Shades&id=4456&type=S"
                                                    data-layout="button" data-size="small"><a target="_blank"
                                                        href="https://www.facebook.com/sharer/sharer.php?u=https://www.sedarglobal.com/productInfo?desc=Blinds%20&%20Shades&id=4456&type=S&amp;src=sdkpreparse"
                                                        class="fb-xfbml-parse-ignore"><em class="fas fa-share-alt"></em></a>
                                                </div> -->
                                                <div class="share_icon" ng-click="socialShare($event)" data-href="swatches?desc={{row.ECI_DESC}}&id={{row.ECI_CODE}}{{row.EIC_ECC_CODES?'&&ecc_code='+row.EIC_ECC_CODES:'' }}">
                                                    <em class="fas fa-share-alt"></em>
                                                </div>
                                                <i class="fa-heart {{row.ECI_CODE}} fas heart_icon" ng-if="row.like_count > 1"></i>
                                                <i class="fa-heart {{row.ECI_CODE}}  heart_icon"
                                                    ng-class="{'fas': row.like[0].ECBL_ITEM_PR_CODE == row.ECI_CODE, 'far': row.like[0].ECBL_ITEM_PR_CODE != row.ECI_CODE}"
                                                    data-ecpcode="{{ecp_code}}" data-code="{{row.ECI_CODE}}"
                                                    data-catid="{{product_cat_id}}"
                                                    ng-click="fa_wishList(ecp_code, row.ECI_CODE, product_cat_id, 'productInfo', '');" 
                                                    ng-if="row.like_count < 2"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="productdetail">
                                        <p ng-bind-html="row.ECI_MORE | htmlSafe">{{row.ECI_MORE}}</p>
                                    </div>
                                    <div class="slidebutton">
                                        <a ng-href="customizing/{{product_cat_id}}/{{row.ECI_CODE}}//{{row.ECI_DESC}}{{parameter_url}}{{row.EIC_ECC_CODES?'?ecc_code='+row.EIC_ECC_CODES:'' }}"
                                                class="btn btn-warning one" ng-if="row.ECI_ALLOW_CUSTOMIZATION_YN == 'Y'"
                                               >Start
                                                Customizing</a>
                                        <button type="button" class="btn btn-warning two" ng-click="Productgallery(row);" >More Photos</button>
                                    </div>
                                    <div class="browsebutton col-md-12">
                                        <a ng-href="swatches?desc={{row.ECI_DESC}}&id={{row.ECI_CODE}}{{row.EIC_ECC_CODES?'&&ecc_code='+row.EIC_ECC_CODES:'' }}"
                                            class="btn btn-warning col-md-12"  ng-if="row.COLLECTION_YN == 'Y'">Browse Collection</a>
                                            <a class="btn btn-warning col-md-12"  ng-disabled="row.COLLECTION_YN == 'N'" ng-if="row.COLLECTION_YN == 'N'">Browse Collection</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        

                    </div>
                </div>

            </div>

        </div>
        <div class="moveBack" >
            <a href="/" style="display: block;">
                <img class="slidericonImg" ng-src="../assets/images/rightarrow.png" alt=""
                    style="transform: scaleX(-1);">
            </a>
        </div>

    </section>
</div>
<div class="direction" ng-include="temp_path + 'showroom/ShowroomleftSideMenu.html?v='+version"></div>