<style> 
    .modal-dialog {
        width: 460px !important;
    }

    .modal-body{
        height: 120px;
    }
   
    .close, .close:hover {
        color: #fff;
        opacity: 1;
    }
    .ShowroomLogin .bootbox-close-button {
        opacity: 1;
        position: absolute;
        top: 0%;
        right: -10%;
        box-shadow: none;
        font-size: 40px;
        color: #000;
        text-shadow: none;
    }


    .fa {
        padding: 20px;
        font-size: 30px;
        width: 77px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      
      .fa:hover {
          opacity: 0.8;
          color: #fff;
      }
      
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      .fa-instagram {
        background: #125688;
        color: white;
      }
      
      .fa-pinterest {
        background: #cb2027;
        color: white;
      }

      .fa-twitter {
        background: #55ACEE;
        color: white;
      }

      .fa-whatsapp {
        background: #25D366;
        color: white;
      }
      
</style>
<div  class="col-md-12 nopadding direction">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://www.sedarglobal.com/{{link}}" class="fa fa-facebook"></a>
    <a target="_blank" href="https://twitter.com/intent/tweet?text=https://www.sedarglobal.com/{{link}}" class="fa fa-twitter"></a>
    <a target="_blank" href="http://pinterest.com/pin/create/link/?url=https://www.sedarglobal.com/{{link}}" class="fa fa-pinterest"></a>
    <a target="_blank" href="#" class="fa fa-instagram"></a>
    <a target="_blank" href="https://api.whatsapp.com/send?text=https://www.sedarglobal.com/{{link}}" class="fa fa-whatsapp"></a>

</div>

