<style>
    .thumbSlider #sync1 .item {

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        text-align: center;
    }

    .thumbSlider #sync1 .item img {
        margin: 0 auto;
    }

    .thumbSlider #sync2 {

        max-height: 250px;
        height: auto;
        z-index: 111;
        padding: 10px;
    }

    .thumbSlider .thumbsection {
        position: absolute;
        bottom: 1%;
        max-height: 250px;
        height: auto;
        z-index: 111;
        background-color: #ffffffb8;
    }

    .thumbSlider #sync2 .item {

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        text-align: center;

        border-radius: 3px;
        cursor: pointer;

    }

    .thumbSlider #sync2 .item img {
        max-width: 180px;
        width: 100%;
        max-height: 180px;
        height: 100% !important;
        margin: 0 auto;
    }

    .thumbSlider .owl-theme .owl-nav {
        /*default owl-theme theme reset .disabled:hover links */
    }

    .thumbSlider .owl-theme .owl-nav [class*=owl-] {
        transition: all 0.3s ease;
    }

    .thumbSlider .owl-theme .owl-nav [class*=owl-].disabled:hover {
        background-color: #D6D6D6;
    }

    .thumbSlider #sync1.owl-theme {
        position: relative;
    }

    .thumbSlider #sync1.owl-theme .owl-next,
    .thumbSlider #sync1.owl-theme .owl-prev {
        width: 22px;
        height: 40px;
        margin-top: -20px;
        position: absolute;
        top: 50%;
    }

    .thumbSlider #sync1.owl-theme .owl-prev {
        left: 10px;
    }

    .thumbSlider #sync1.owl-theme .owl-next {
        right: 10px;
    }

    .thumbSlider .modal-dialog {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
        width: 100% !important;
    }

    .thumbSlider .modal-body {
        padding: 0;
    }

    .thumbSlider .modal-content {
        background: transparent;
        box-shadow: none;
        border: none;
    }

    .thumbSlider .bootbox-close-button {
        position: relative;
        top: 0;
        right: 5%;
        z-index: 111;
        font-size: 32px;
        color: #000;
        opacity: 1;
        padding: 20px;
    }

    .thumbSlider .sliderone {
        max-width: 992px;
        margin: 0 auto;
    }

    .thumbSlider .thumbscontent {
        max-width: 1920px;
        margin: 0 auto;
    }

    .thumbSlider .ourcollectionkey {
        height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 nopadding">
            <!-- slider -->
            <div id="sync1" class="owl-carousel owl-theme sliderone">
                <div class="item red">
                    <img src="http://ecommerce-pwa/assets/images//banner/banner-24-1.jpg" alt="">
                </div>
                <div class="item blue">
                    <img src="http://ecommerce-pwa/assets/images//banner/Buy-one-get-one-Wallpaper.jpg" alt="">
                </div>
                <div class="item red">
                    <img src="http://ecommerce-pwa/assets/images//banner/banner-24-1.jpg" alt="">
                </div>
                <div class="item blue">
                    <img src="http://ecommerce-pwa/assets/images//banner/Buy-one-get-one-Wallpaper.jpg" alt="">
                </div>
                <div class="item red">
                    <img src="http://ecommerce-pwa/assets/images//banner/banner-24-1.jpg" alt="">
                </div>

               

            </div>
            <div class="col-md-12 nopadding thumbsection">
                <div class="thumbscontent">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="ourcollectionkey">
                                <h2>
                                    Our key Looks
                                   
                                </h2>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div id="sync2" class="owl-carousel owl-theme">

                                <div class="item"  data-owl-filter="*">
                                    <img src="http://ecommerce-pwa/assets/images//banner/banner-24-1.jpg" alt="">
                                </div>
                                <div class="item"  data-owl-filter=".red">
                                    <img src="http://ecommerce-pwa/assets/images//banner/banner-24-1.jpg" alt="">
                                </div>
                                <div class="item" data-owl-filter=".blue">
                                    <img src="http://ecommerce-pwa/assets/images//banner/Buy-one-get-one-Wallpaper.jpg" alt="">
                                </div>                               
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- slider -->
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {

        var sync1 = $("#sync1");
        var sync2 = $("#sync2");
        var slidesPerPage = 4; //globaly define number of elements per page
        //  var syncedSecondary = true;

        var owl = sync1.owlCarousel({

            items: 1,
            slideSpeed: 2000,
            nav: true,
            autoplay: false,
            dots: false,
            loop: true,
            responsiveRefreshRate: 200,
            navText: ['<svg width="100%" height="100%" viewBox="0 0 11 20"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M9.554,1.001l-8.607,8.607l8.607,8.606"/></svg>', '<svg width="100%" height="100%" viewBox="0 0 11 20" version="1.1"><path style="fill:none;stroke-width: 1px;stroke: #000;" d="M1.054,18.214l8.606,-8.606l-8.606,-8.607"/></svg>'],
        });
        sync2.owlCarousel({
            items: slidesPerPage,
            dots: false,
            nav: false,
            smartSpeed: 200,
            slideSpeed: 500,
            slideBy: slidesPerPage, //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
            responsiveRefreshRate: 100
        });
        // .on('changed.owl.carousel', syncPosition);

        // sync2.on('initialized.owl.carousel', function () {
        //         sync2.find(".owl-item").eq(0).addClass("current");
        //     }).owlCarousel({
        //         items: slidesPerPage,
        //         dots: false,
        //         nav: false,
        //         smartSpeed: 200,
        //         slideSpeed: 500,
        //         slideBy: slidesPerPage, //alternatively you can slide by 1, this way the active slide will stick to the first item in the second carousel
        //         responsiveRefreshRate: 100
        //     }).on('changed.owl.carousel', syncPosition2);

        // function syncPosition(el) {
        //     //if you set loop to false, you have to restore this next line
        //     //var current = el.item.index;

        //     //if you disable loop you have to comment this block
        //     var count = el.item.count - 1;
        //     var current = Math.round(el.item.index - (el.item.count / 2) - .5);

        //     if (current < 0) {
        //         current = count;
        //     }
        //     if (current > count) {
        //         current = 0;
        //     }

        //     //end block

        //     sync2
        //         .find(".owl-item")
        //         .removeClass("current")
        //         .eq(current)
        //         .addClass("current");
        //     var onscreen = sync2.find('.owl-item.active').length - 1;
        //     var start = sync2.find('.owl-item.active').first().index();
        //     var end = sync2.find('.owl-item.active').last().index();

        //     if (current > end) {
        //         sync2.data('owl.carousel').to(current, 100, true);
        //     }
        //     if (current < start) {
        //         sync2.data('owl.carousel').to(current - onscreen, 100, true);
        //     }
        // }

        // function syncPosition2(el) {
        //     if (syncedSecondary) {
        //         var number = el.item.index;
        //         sync1.data('owl.carousel').to(number, 100, true);
        //     }
        // }

        // sync2.on("click", ".owl-item", function (e) {
        //     e.preventDefault();
        //     var number = $(this).index();
        //     sync1.data('owl.carousel').to(number, 300, true);
        // });

        $('#sync2').on('click', '.item', function () {

            var $item = $(this);
            var filter = $item.data('owl-filter')

            owl.owlcarousel2_filter(filter);

        })
    });
</script>