<div id="wish_list">
    <div class="" ng-include="temp_path + 'showroom/Burgermenu.html?v='+version"></div>
    <div class="container">
        <div class="col-md-12 col-xs-12 col-xs-12 pb-20">
            <h1><b>Hello {{login_userName ? login_userName :'my_account' | translate}}!</b></h1>
            <h3 style="font-size: 22px;">Your list of favorite is here.</h3>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">
            <md-tabs md-dynamic-height md-border-bottom md-no-pagination="true" md-selected="tabIndex">
                <md-tab label="{{'products'| translate}}">
                    <table class="table" ng-if="likeitem.length > 0">
                        <thead class="thead-dark">
                            <tr>
                                <th translate="product"></th>
                                <th translate="measurement"></th>
                                <th translate="Qty"></th>
                                <th translate="date"></th>
                                <th translate="image"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="{{item.EOL_SYS_ID}}" ng-repeat="(key, item) in likeitem" class="trhover">

                                <td class="no_hover" ng-click="productdetail(item.EOL_SYS_ID)">
                                    <p>{{item.EOL_CART_INFO}}</p>
                                </td>
                                <td>{{item.EOL_WIDTH}} x {{item.EOL_HEIGHT}}</td>
                                <td>{{item.EOL_QTY}}</td>
                                <td>{{item.EOL_CR_DT}}</td>

                                <td><img src="{{service_url}}{{item.EOL_IMAGE_PATH}}" width="100"></td>
                                <td>
                                    <a class="btn btn-new-dark fa fa-trash"
                                        ng-bootbox-confirm="{{'Are_you_sure_you_want_to_delete' | translate}}"
                                        ng-bootbox-confirm-action="deleteProduct(item.EOL_EOH_SYS_ID,item.EOL_SYS_ID)"
                                        locale="{{langCode}}"></a>
                                    <a class="btn btn-new-dark fa fa-eye" ng-click="productdetail(item.EOL_SYS_ID)"></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="col-md-12 col-sm-12 col-xs-12  mb-25 pt-15" ng-if="likeitem.length == 0">
                        <center>Product favorite not found</center>
                    </div>
                </md-tab>
                <md-tab label="{{'Color'| translate}}">
                    <div class="col-md-12 col-sm-12 col-xs-12  mb-25 pt-15" ng-if="likeMaterial.length > 0">
                        <div class="color_section">
                            <div class="col-md-2 col-xs-4  mb-10 material" ng-repeat="item in likeMaterial">
                                <div class="col-md-12 col-xs-12 nopadding"
                                    ng-class="zig_zagImg.indexOf(item.ECI_CODE) > 0 ? 'margin_top120' : ''">
                                    <i class="fas fa-times-circle {{item.ECM_CODE}}  heart_icon"
                                        ng-click="remove_wishList(item.ECI_CODE, item.ECM_CODE, '', 'wishList', '');"
                                        style="z-index: 2;"></i>
                                    <img ng-src="{{item.ECM_THUMBNAIL_IMAGES?image_upload+item.ECM_THUMBNAIL_IMAGES:back_side_img.indexOf(item.ECI_CODE) < 0 ? image_upload + item.ECM_IMAGE_PATH : image_upload + item.ECM_BACK_SIDE_TEXTURE_IMG_PATH}}"
                                        title="{{item.ECM_TOOL_TIP}}"
                                        ng-class="full_img_cover.indexOf(item.ECI_CODE) < 0 ? 'no_full_img' : 'full_img'"
                                        check-image>
                                </div>
                                <div class="overlay" ng-click="matrialPopup(item)">
                                    <div class="text">
                                        <div class="">
                                            <a href="" id="btn-search">
                                                <img ng-src="{{asset_img}}menu/search.png" class="globe-lang mb-10">
                                            </a>
                                        </div>
                                        {{item.ECM_ITEM_ID}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12  mb-25 pt-15" ng-if="likeMaterial.length == 0">
                        <center>Color favorite not found</center>
                    </div>
                </md-tab>
                <md-tab label="{{user_mobile_view}}">
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>

<div class="direction" ng-include="temp_path + 'showroom/ShowroomleftSideMenu.html?v='+version"></div>