* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  height: 100%;
}

/* All the snapping stuff */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


.scroll-container::-webkit-scrollbar {
  display: none;
}

section {
  min-height: 100vh;
  scroll-snap-align: center;
}

.btn:hover,
.btn:focus {
  color: "";
}

.btn.btn-new-dark {
  margin: 15px 2px;
  color: #fffef2;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  margin-top: 0;
  background: #185b71;
  transition: 0.25s;
  border-radius: 5px;
}
.nopadding {
  padding: 0 !important;
}
/* Other styles */
.showroom_landing_page_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#ShowroomleftSideMenu {
  position: fixed;
  z-index: 9999;
  /*background:#fffef2;*/
  background: #fff;
  width: 300px;
  height: 100%;
  top: 0;
  overflow: hidden;
}
.left_side_menu_top {
  background: #000;
  padding: 12px 0;
  line-height: 1.85;
}
#left_side_loader_div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1115;
  background-color: #0000004d;
  display: none;
}
.close_leftSide {
  position: relative;
  /* top: 7px; */
  right: 20px;
  color: #fffef2;
  z-index: 100;
  padding: 0;
  font-size: 9.5px;
  text-align: center;
  width: 18px;
  border: 1px solid;
  height: 18px;
  border-radius: 50%;
  float: right;
}
.icon_title a,
.icon_title a:hover {
  color: #fff;
}
.icon_title {
  color: #fff;
}
.showroom_landing_page_banner .socialIcon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}

.showroom_landing_page_banner .socialIcon li {
  padding: 8px 15px;
}
.showroom_landing_page_banner .socialIcon img {
  max-width: 60px;
}
/* showroomproduct */
#left_side_menu {
  top: 0;
}

#shwrm_pg_product {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.shwrm_pg_product .productheading {
  max-width: 1640px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}

.Singleproductslider .owl-stage {
  padding-left: 0 !important;
}

.Singleproductslider {
  padding-bottom: 80px;
  overflow-x: hidden;
}
.productheading p h2 span {
  line-height: 21px;
  margin: 0;
  color: #85878b !important;
}
.productheading h2,
.productheading h3,
.productheading h4,
.productheading h1 {
  border-left: 5px solid #f5b05f;
  color: #85878b !important;
  padding-left: 2%;
}
.productheading p span,
.productheading p {
  color: #000 !important;
}

.productheading p {
  padding: 20px;
  line-height: normal;
}
.Singleproductslider {
  position: relative;
  width: 100%;
}
.Singleproductslider .productcardimg {
  /* max-width: 150px !important; */
  width: 100%;
}

.shwrm_pg_product .burgermenu a {
  font-size: 25px;
  color: #f5b05f;
}
.shwrm_pg_product .slideheading {
  width: 90%;
}

.shwrm_pg_product .slideheading h3 {
  font-weight: bold;
  border-bottom: 4px solid #f5b05f;
  text-align: left;
  /*width: max-content;*/
  padding-bottom: 5px;
  font-size: 16px;
}

.productdetail {
  background: #ececed;
  text-align: left;
  padding: 8px 10px;
  min-height: 200px;
}

.productdetail h6 {
  font-weight: bold;
}

.productdetail ul {
  padding-left: 10px;
}

.slideimage {
  position: relative;
  max-height: 250px;
  height: auto;
}
.slideimage img{
  position: relative;
  max-height: 250px;
  height: 100%;
}

.slideimage .utilityicons {
  position: absolute;
  right: 5%;
  top: 2%;
  text-align: center;
}

.slideimage .heart_icon {
  position: relative;
  padding: 5px 6px;
  background: #fff;
  border-radius: 5px;
  color: #fac775;
  margin: 5px 0 0 0;
}

.slideimage .share_icon a em {
  color: #fac775;
}

.slideimage .share_icon {
  position: relative;
  padding: 2px 7px;
  margin: 0;
  background: #fff;
  border-radius: 5px;
  color: #fac775;
}

.productdetail ul li {
  font-size: 13px;
  list-style: disc;
}

.one-btn .btn-primary {
  border: none;
}

#shwrm_pg_product .owl-nav [class*="owl-"]:hover {
  background: none;
}

#shwrm_pg_product .owl-nav .owl-prev {
  position: absolute;
  left: -85px;
  top: 40%;
}

#shwrm_pg_product .owl-nav .owl-next {
  position: absolute;
  right: -85px;
  top: 40%;
}

.coming_soon_icon {
  display: none !important;
}

/*
.prev,
.next {
  padding: 0;
}


#theCarousel .carousel-control {
  width: 5%;
} */

/* #theCarousel .carousel-control {
  left: -50px;
  top: 50%;

}

#theCarousel .carousel-control.right {
  left: auto;
  right: -50px;
} */
.slidebutton {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}
.slidebutton .btn {
  width: 47%;
  border-radius: 0;
  border: none;
  font-weight: bold;
  font-size: 12px !important;
}
.slidebutton .one {
  

  color: #000;
  background: #fac775;
  border: none;
}
.slidebutton .two {
 

  color: #fff;
  background-color: #4a419f;
}

.browsebutton {
  padding: 0;
}
.browsebutton a {
  background-color: #803fb7;
  font-weight: bold;
  font-size: 14px !important;
}

/* filter slider images */

.thumbSlider #sync1 .item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  text-align: center;
}

.thumbSlider #sync1 .item img {
  margin: 0 auto;
}

.thumbSlider #sync2 {
  max-height: 250px;
  height: auto;
  z-index: 111;
  padding: 10px;
}

.thumbSlider .thumbsection {
  position: absolute;
  bottom: 1%;
  max-height: 250px;
  height: auto;
  z-index: 111;
  background-color: #d7d7d7;
  width: 100%;
  text-align: center;
}

.thumbSlider #sync2 .item {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-align: center;

  border-radius: 3px;
  cursor: pointer;
}

.thumbSlider #sync2 .item img {
  width: 100%;
  max-height: 180px;
  height: 100% !important;
  margin: 0 auto;
}

.thumbSlider .owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}

.thumbSlider .owl-theme .owl-nav [class*="owl-"] {
  transition: all 0.3s ease;
}

.thumbSlider .owl-theme .owl-nav [class*="owl-"].disabled:hover {
  background-color: #d6d6d6;
}

.thumbSlider #sync1.owl-theme {
  position: relative;
}

.thumbSlider #sync1.owl-theme .owl-next,
.thumbSlider #sync1.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}

.thumbSlider #sync1.owl-theme .owl-prev {
  left: 10px;
}

.thumbSlider #sync1.owl-theme .owl-next {
  right: 10px;
}

.thumbSlider .modal-dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 100% !important;
}

.thumbSlider .modal-body {
  padding: 0;
}

.thumbSlider .modal-content {
  background: transparent;
  box-shadow: none;
  border: none;
}

.thumbSlider .bootbox-close-button {
  position: relative;
  top: 0;
  right: 5%;
  z-index: 1111;
  font-size: 32px;
  color: #000;
  opacity: 1;
  padding: 20px;
}

.thumbSlider .sliderone {
  max-width: 992px;
  margin: 0 auto;
}

.thumbSlider .thumbscontent {
  max-width: 1920px;
  margin: 0 auto;
}

.thumbSlider .ourcollectionkey {
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbSlider #sync2 .owl-stage {
  margin: 0 auto;
}

.thumbSlider #sync1 .owl-stage-outer {
  width: 100%;
}

.thumbSlider #sync2 .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
}
.thumbSlider #sync2 #overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.52;
}
/* filter slider images */
.modal-open .modal .modal-dialog {
  position: absolute;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.showroom_landing_page_banner_img{
  width: 100%; height: 100%;object-fit: cover;
}
.moveBack{
  position: absolute;bottom: 10%; left: 2%; max-width: 60px;z-index: 111;
}
#productslidershow{
  width: 90%;
  margin: 0 auto;
}
/* responsive */
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-height: 767px) {
  .showroom_landing_page_banner_img{
    object-fit: contain;
  }
}
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .showroom_landing_page_banner_img{
    height: auto; object-fit: fill;
  }
  .moveBack{
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  #productslider .owl-nav,
  .thumbtext,
  .showroom_landing_page_banner .socialIcon {
    display: none !important;
  }
}
@media only screen and (max-width: 1200px) {
  
  .slidebutton {
    display: block;
  }
  .slidebutton .btn {
    width: 100%;
    border-radius: 0;
    border: none;
    font-weight: bold;
    margin-top: 5px;
    font-size: 12px !important;
  }
  .browsebutton a {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)  {
  #shwrm_pg_product_slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
  .Singleproductslider .container {
    max-width: 1480px;
    width: 100%;
  }
  .showroom_landing_page_banner .socialIcon img {
    max-width: 90px;
  }
  .slidebutton .btn {    
    font-size: 14px !important;
  }
  #productslidershow{
    width: 100%;
  }
}
