<style>

    .dropdown-menu.inner {
        max-height: 150px !important;
        overflow-y: auto;
        height: auto;
    }

    .materialQty:hover{
        background:#c6c6c6
    }
    .materialQty{
        padding: 0px 4px;
        font-size: 17px;
        background:#e1e1e1;
        display: inherit;
        float: left;
    }

    .counter-field {
        width: 40px; 
        padding: 0;
        height: 34px;
        margin: 0;
        text-align: center;
        border-radius:0;
        float: left;
    }

    .qty{
        width: 100px;
        margin-bottom:15px;
    }

    .qty span{
        float:left;
        margin: 7px 3px 0 0;
        font-weight: bold;
    }

    .buyNow{
        font-weight: normal;
    }
    .font_15{
        font-size: 15px;
    }
    .font-weight-bold{
        font-weight: 700;
    }
    .widthauto{
        width:auto !important;
    }
    .promocode{
        width: 220px;
    }
</style>
<br>
<div id="mtopFullImage" class="mtop_overlay" onclick="fullscreenBoxClose('mtopFullImage')">
    <div class="mtopclosebtn fal fa-times" onclick="fullscreenBoxClose('mtopFullImage')" title="close"></div>
    <div class="mtop_overlay_content direction">
       <!-- <h1>khus mohaddd</h1> -->
       <img style="width: 100%;min-height: 50vh;" src="{{material_info.ECM_THUMBNAIL_IMAGES?upload_url + material_info.ECM_THUMBNAIL_IMAGES.replace('$$/', '400/'):back_side_img.indexOf(material_info.ECM_ECI_CODE) < 0 ? upload_url + material_info.ECM_IMAGE_PATH.replace('$$/', '400/') : upload_url + material_info.ECM_BACK_SIDE_TEXTURE_IMG_PATH.replace('$$/', '400/')}}" alt="{{material_info.ITEM_ID}} {{material_info.ECI_SEO_TAG?material_info.ECI_SEO_TAG:'Material Title'}}"/>
    </div>
</div>
<div id="material" class="cat_shop  nopadding col-md-12 col-sm-12 col-xs-12 direction">
    <div class="container shop_inner_inf ads-grid_shop">
        <!-- {{material_info}} -->
        <div class="col-md-6 col-sm-6  col-xs-12 right-side">
            <div ng-if="life_style_info.length==0" id="myresult" class="img-zoom-result" style="display:none;background-image:url('{{material_info.ECM_THUMBNAIL_IMAGES?upload_url + material_info.ECM_THUMBNAIL_IMAGES.replace('$$/', ''):back_side_img.indexOf(material_info.ECM_ECI_CODE) < 0 ? upload_url + material_info.ECM_IMAGE_PATH.replace('$$/', '') : upload_url + material_info.ECM_BACK_SIDE_TEXTURE_IMG_PATH.replace('$$/', '')}}')"></div>
            <div ng-if="life_style_info" id="myresult" class="img-zoom-result" style="display:none;background-image:url('{{upload_url + life_style_info[0].ELI_IMAGE_PATH}}')"></div>
            <div id="gallery" class="col-md-12 col-sm-12 col-xs-12 nopadding">
                <div class="clearfix"></div> 


                <div class="col-md-2 col-sm-2 col-xs-2 product-slider right-side" id="thumbs">
                    <ul class="disable-scrollbars product_slider">
                        <li ng-if="life_style_info" ng-repeat="val in life_style_info" ng-click="lifeStyle(val.ELI_IMAGE_PATH)">
                            <img class="lazyload" ng-src="{{upload_url + val.ELI_IMAGE_PATH}}" alt="{{material_info.ITEM_ID}} {{val.ECI_SEO_TAG?val.ECI_SEO_TAG:val.ECI_DESC}}">
                        </li>
                        <li ng-if="life_style_info.length==0">
                            <img class="lazyload" src="{{material_info.ECM_THUMBNAIL_IMAGES?upload_url + material_info.ECM_THUMBNAIL_IMAGES.replace('$$/', ''):back_side_img.indexOf(material_info.ECM_ECI_CODE) < 0 ? upload_url + material_info.ECM_IMAGE_PATH.replace('$$/', '') : upload_url + material_info.ECM_BACK_SIDE_TEXTURE_IMG_PATH.replace('$$/', '')}}" alt="{{material_info.ITEM_ID}} {{material_info.ECI_SEO_TAG?material_info.ECI_SEO_TAG:material_info.ECI_DESC}}">
                        </li>
                    </ul>
                </div>
                <div class=" col-md-10 col-sm-10 col-xs-10 tab-content  view_imagezoom mb-10">
                    <div  class="img-zoom-container product-slider nopadding" id="panel">
                        <i class="fas fa-search search_btn tabButtonhide" ></i>
                        <i class="fas fa-search search_btn tabButtonshow" onclick="fullscreenBoxOpen('mtopFullImage')"></i>
                        <i id="like{{material_info.ECM_IF_CODE}}" class="like{{likeClass ? material_info.ECM_IF_CODE+likeClass : material_info.ECM_IF_CODE+material_info.ECM_CODE}} fa-heart heart_icon" ng-class="{'fas': material_info.FAV_YN, 'fal': !material_info.FAV_YN }" style="z-index: 2;" ng-click="fa_wishList(material_info);" ></i>
                        <img id="myimage" src="{{upload_url + life_style_info[0].ELI_IMAGE_PATH}}" alt="{{material_info.ITEM_ID}} {{life_style_info[0].ECI_SEO_TAG?life_style_info[0].ECI_SEO_TAG:'Material Title'}}" ng-if="life_style_info && life_style_info[0].ELI_IMAGE_PATH"  onload="imageZoom('myimage', 'myresult');" />
                        <img id="myimage" src="{{material_info.ECM_THUMBNAIL_IMAGES?upload_url + material_info.ECM_THUMBNAIL_IMAGES.replace('$$/', ''):back_side_img.indexOf(material_info.ECM_ECI_CODE) < 0 ? upload_url + material_info.ECM_IMAGE_PATH.replace('$$/', '') : upload_url + material_info.ECM_BACK_SIDE_TEXTURE_IMG_PATH.replace('$$/', '')}}" alt="{{material_info.ITEM_ID}} {{material_info.ECI_SEO_TAG?material_info.ECI_SEO_TAG:material_info.ECI_DESC}}"  ng-if="life_style_info.length ==0" onload="imageZoom('myimage', 'myresult');" >
                    </div>
                </div>
            </div>
             
            <div class="threed_btn mb-10 col-md-12 col-sm-12  col-xs-12 nopadding" ng-if="material_info.ECI_ALLOW_ADD_TO_CART_YN == 'C'">
                
                <a href="customizing/{{cat_code}}/{{material_info.ECM_ECI_CODE}}/{{material_info.ECM_CODE}}"><img class="lazyload left_side"  ng-src="{{image_path + 'threeD.png'}}" alt=""></a>
            </div>
            <div class="col-md-offset-2 col-md-8 col-sm-12 col-xs-12 nopadding">
                <div class="threed_btn" ng-repeat="row in family">
                    <a href="material?item={{row.ITEM_ID}}&product={{row.ECI_DESC}}&id={{row.ECM_CODE}}&prod_id={{row.ECM_ECI_CODE}}&if={{row.ECM_IF_CODE}}">
                        <img style="padding: 0; float: left; margin-bottom: 4.5px;" class="lazyload"  ng-src="{{row.ECM_THUMBNAIL_IMAGES?upload_url + row.ECM_THUMBNAIL_IMAGES.replace('$$/', ''):back_side_img.indexOf(row.ECM_ECI_CODE) < 0 ? upload_url + row.ECM_IMAGE_PATH.replace('$$/', '') : upload_url + row.ECM_BACK_SIDE_TEXTURE_IMG_PATH.replace('$$/', '')}}" alt="{{row.ITEM_ID}} {{row.ECI_SEO_TAG?row.ECI_SEO_TAG:row.ECI_DESC}}">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="col-sm-12 mb-20 nopadding">
                <p class="font_15 font-weight-bold">{{material_info.ECI_DESC}}</p>
                <p  >{{material_info.ITEM_ID}}</p>
            </div>
            <div class="col-sm-12 col-xs-12 mb-20 nopadding">
                <p class="font_15 font-weight-bold" translate="collection">collection</p>
                <p >{{material_info.COLLECTION_DESC}}</p>
            </div>
            <div class="col-sm-12 col-xs-12 mb-20 nopadding">
                <p class="font_15 font-weight-bold" translate="brand">Brand</p>
                <img class="brand_icon lazyload" ng-src="{{material_info.BRAND_LOGO}}" ng-class="{widthauto: material_info.ECM_BR_CODE == 04 }" />
            </div>
            
            <div class="col-md-3" ng-if="material_info.FREE_DEL_INST_YN == 'FREE_DEL_INST_Y'" style="padding: 0px 0px 8px 0px;">                                                       
                <img ng-src="{{asset_img}}Installation-Icon.png" alt="Free Delivery with installation" title="Free Delivery with installation" style="height: auto;width: 76px;"/>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-6 padding_left0  right-side mb-15" ng-if="shopping == true">
                <div class="col-md-12 col-sm-12 col-xs-12 nopadding">
                    <a class="buyNow col-md-12 col-sm-12 col-xs-12 buy_{{material.ECM_IF_CODE}} mb-10" href="customizing/{{cat_code}}/{{material_info.ECM_ECI_CODE}}/{{material_info.ECM_CODE}}" ng-if="material_info.ECI_PRODUCT_YN == 'Y' && material_info.ECI_ALLOW_ADD_TO_CART_YN != 'I'">
                        <span translate="BUY_NOW">BUY NOW</span> 
                    </a>
                </div>
                
            <div class="col-md-12 col-sm-12 col-xs-12 nopadding feature_and_benefit mb-20" ng-bind-html="material_info.ECI_MORE | htmlSafe">

            </div>
        </div>
        <div class="clearfix"></div>


        <hr class="pb-10" />
        <div class="col-md-6 col-sm-6 col-xs-12 nopadding right-side ">
            <div class="col-md-12 col-sm-12 col-xs-12 nopadding material_pdf mb-10">


                <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="row in guideline">
                    <a ng-href="{{s3_image_path + row.EIS_IMAGE_PATH}}" target="_blank" ng-if="row.EIS_IMAGE_PATH != null">
                        <i class="far fa-file-pdf"></i>
                    </a>
                    <samp ng-if="row.EIS_INFO_IMAGE_PATH != null"> | </samp> 

                    <span id="material-vedio">
                        <a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
                        <video id="VisaChipCardVideo" width="600" controls>
                            <source src="{{s3_image_path + row.EIS_INFO_IMAGE_PATH}}">
                        </video>
                    </span>
                    <div id="fade" onClick="lightbox_close();"></div>
                    <a onclick="pdf_vedio_open();" ng-if="row.EIS_INFO_IMAGE_PATH != null">
                        <i class="far fa-play-circle"></i>
                    </a>
                    <span>{{row.EIS_DESC}}</span>

                </div>

            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 mb-15 symbols"  ng-if="material_info.ECI_PROPERTIES">
                <hr class="mb-10" />
                <h6 translate="SYMBOLS_product" translate-values="{val:'{{material_info.ECI_DESC}}' }">{{material_info.ECI_DESC}} SYMBOLS</h6>
                <ul>
                    <li ng-repeat="properites_img in material_info.ECI_PROPERTIES.split(',')">
                        <img ng-if="properites_img" class="lazyload" ng-src="{{asset_img + 'item_properties/' + properites_img + '.png'}}"/>
                    </li>
                </ul>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 product_detail mb-20">
                <table  class="product_table">
                    <h6 translate="details">DETAILS</h6>
                    <tbody>
                        <tr ng-if="material_info.COLOR_DESC != ''">
                            <td translate="color">Color:</td>
                            <td>{{material_info.COLOR_DESC}}</td>
                        </tr>
                        <tr ng-if="material_info.PATTERN_DESC != ''">
                            <td translate="Design" >Design:</td>
                            <td translate="{{material_info.PATTERN_DESC}}">{{material_info.PATTERN_DESC}}</td>
                        </tr>
                        <tr ng-if="material_info.REPEAT_DESIGN > 0">
                            <td translate="Repeat">Repeat:</td>
                            <td translate="{{material_info.REPEAT_DESIGN}}">{{material_info.REPEAT_DESIGN}}</td>
                        </tr>
                        <tr ng-if="material_info.MATERIAL_DESC != ''">
                            <td translate="Material" >Material:</td>
                            <td translate="{{material_info.MATERIAL_DESC}}">{{material_info.MATERIAL_DESC}}</td>
                        </tr>
                        <tr ng-if="material_info.ECM_WIDTH > 0">
                            <td><span ng-if="material_info.ECM_LENGTH > 0"> {{material_info.ECM_UOM_INITCAP}}</span> <span ng-if="material_info.ECM_LENGTH == 0 || material_info.ECM_LENGTH == null" translate="width"> Width</span></td>
                            <td ><span>{{material_info.ECM_WIDTH| number: 2}} <span translate="cm"> CM</span></span> <span ng-if="material_info.ECM_LENGTH > 0"> x  {{material_info.ECM_LENGTH| number: 2}} Meter</span> </td>
                        </tr>
                        <tr ng-if="material_info.ECM_WEIGHT > 0">
                            <td translate="weight" >Weight:</td>
                            <td translate="gram_val" translate-values="{val:'{{material_info.ECM_WEIGHT}}' }" >{{material_info.ECM_WEIGHT}}g</td>
                        </tr>
                        <tr ng-if="material_info.SPEC != null">
                            <td translate="Specification" >Specification:</td>
                            <td translate="{{material_info.SPEC}}" >{{material_info.SPEC}}</td>
                        </tr>
                        <tr ng-if="material_info.ITEM_COMPOSITION != null">
                            <td translate="composition1" >Composition:</td>
                            <td translate="{{material_info.ITEM_COMPOSITION}}">{{material_info.ITEM_COMPOSITION}}</td>
                        </tr>
                        <tr ng-if="material_info.ITEM_STANDARD != null">
                            <td translate="Item Standard" >Item Standard:</td>
                            <td translate="{{material_info.ITEM_STANDARD}}" >{{material_info.ITEM_STANDARD}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 similar_color"> 
            <h5 translate="similar_colors">Similar Colors</h5>

            <div class="filter_tab">
                <ul class="nav nav-tabs nav-justified ">
                    <li ng-class="{active:selectedtab == key}" ng-repeat="(key, row) in pattern | limitTo : 5" ng-click="navtab(key, row.ECM_ITEM_PATTERN, row.ECM_ECI_CODE)"  ng-if="row.detail != ''">
                        <a data-toggle="tab" translate="{{row.PATTERN_DESC}}">{{row.PATTERN_DESC}}</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab {{selectedtab == key ? 'active' : 'hide'}}" ng-repeat="(key, row) in pattern">

                    <div class="col-md-12 col-sm-12 col-xs-12 pt-15 similar_color_section">
                        <div class="col-md-2 col-xs-2 content material" ng-repeat="detail in detail" ng-if="status == true ">
                            <img src="{{detail.ECM_THUMBNAIL_IMAGES?upload_url+detail.ECM_THUMBNAIL_IMAGES.replace('$$/', ''):back_side_img.indexOf(detail.ECM_ECI_CODE) < 0 ? upload_url + detail.ECM_IMAGE_PATH.replace('$$/', '') : upload_url + detail.ECM_BACK_SIDE_TEXTURE_IMG_PATH.replace('$$/', '')}}" alt="{{detail.ECI_SEO_TAG?detail.ECI_SEO_TAG:'Material Title'}}" />
                            <a href="material?item={{detail.ITEM_ID}}&product={{detail.ECI_DESC}}&id={{detail.ECM_CODE}}&prod_id={{detail.ECM_ECI_CODE}}&if={{detail.ECM_IF_CODE}}">
                                <div class="overlay">
                                    <div class="text">
                                        {{detail.ITEM_ID}}
                                    </div>
                                </div>
                            </a>
                        </div>
                         
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="status == false ">
                                <span style="font-size: 12px;text-align:center" translate="No_record"> No record exists! </span>
                        </div>
                    </div>
                <center>
                    <img class="materialLoadmore lazyload" ng-show="loader" ng-src="{{image_path + 'ajax-loader1.gif'}}">
                </center> 
                </div>
            </div>
        </div>
    </div>
</div>

<script>
     
    mouseovershowhide("img-zoom-container", "myimage", "myresult"); 
    
        $(document).ready(function () {  
                   
            setTimeout(function () { 
               
                window.document.onkeydown = function (e) {
                    if (!e) {
                        e = event;
                    }
                    if (e.keyCode == 27) {
                        lightbox_close();
                    }
                }
                
            }, 500);
        });

        function pdf_vedio_open() {
            var materialBoxVideo = document.getElementById("myVideo");
            document.getElementById('material-vedio').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
            materialBoxVideo.play();
        }

        function lightbox_close() {
                var materialBoxVideo = document.getElementById("myVideo");
                document.getElementById('material-vedio').style.display = 'none';
                document.getElementById('fade').style.display = 'none';
                materialBoxVideo.pause();
            }

</script>
