<style>
    .dropdown-menu.inner {
        max-height: 150px !important;
        overflow-y: auto;
        height: auto;
    }

    .materialQty:hover{
        background:#c6c6c6
    }
    .materialQty{
        padding: 0px 4px;
        font-size: 17px;
        background:#e1e1e1;
        display: inherit;
        float: left;
    }

    .counter-field {
        width: 40px; 
        padding: 0;
        height: 34px;
        margin: 0;
        text-align: center;
        border-radius:0;
        float: left;
    }

    .qty{
        width: 96px;
    }

    .qty span{
        float:left;
        margin: 7px 3px 0 0;
        font-weight: bold;
    }
    .collection_section .panel-heading{
        padding: 0;
    }
    .collection_section .collection_des{
        padding: 10px 15px;
    }
    .image-caption-offer{
        position: relative;
        top: 0px;
        left: 0;
      
    }
    .image-caption {        
        background: rgba(0,0,0,.69);
        color: #fff;
       
        margin: 0;
        font-size: 13px;
    }

    .image-caption span {
        font-weight:800
    }
    .offer_images{
        text-align: left;
    }
    .offer_images1{
        height: 40px !important;
        width: auto !important;
    }
    .offer_images2{
        height: 60px !important;
        width: auto !important;
    }
    .prodImgContain .image-caption{
        position: absolute;
        top: 0;
        width: 100%;
    }
</style>
<div id="left_filter_loader_div"></div>       

<div class="col-md-4 col-sm-12 col-sm-4 alert_message" ng-include="temp_path + 'alert.html?v='+version" ></div>
<div class="container-big" id="getCollection">

    <div class="col-md-12 col-sm-12 col-xs-12 nopadding" material-sample ng-if="materialSection == true">
        <div class="col-md-12  col-sm-12 col-xs-12 sample_text mb20 mb-59">
            <div class="col-md-12 col-sm-12 col-xs-12 sample_stap" >
                <!-- <div class="clearfix"></div> -->
                <div class="row" style="padding-top:10px;">
                    <div class="col-md-5 col-sm-12 col-xs-11 nopadding sample_stap_h6">
                       <h6>Select material of {{product_desc}}</h6>
                    </div>

                    <div class="search_section nopadding col-md-7 col-sm-12 col-xs-1  pull-right" ng-class="">
                        <i class="sample_filters_icon fas fa-filter" ng-click="leftFilterSideMenu(true)" role="button" tabindex="0" style="display: none;"></i>

                        <!-- <div class="sample_filters_file" ng-include="temp_path + 'filter/sample_filters.html?v='+version"></div> -->
                    </div>

                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 nopadding collection_section direction" style="padding-top: 10px;">
                
                <div id="allTiles" class="tileContainer direction" ng-if="familyCount > 0">
                    <div class="collGroup" ng-repeat="(key, group) in collectionGroup">
                        <h2 style="padding: 10px;font-size: 16px;color: #333;background-color: #f5f5f5;border-color: #ddd; border-top: 1px solid #989898;"><b translate="collection">Collection:</b> {{ key }}</h2>
                        
                        <div class="productTile product-men" ng-repeat="(mat_key, material) in group"  data-prodid="{{material.IF_CODE}}" ng-click="color_refresh()" ng-if="group.length > 0">
                            <div class="shop">
                                <div class="men-pro-item">
                                    <div class="men-thumb-item mb-5">
                                        <div class="productImageWrap hasRollover">
                                            <div class="prodImgContain">
                                                <div class="item active">
                                                    <img class="thumb_swatch" id="applyFamImg{{material.ECM_CODE}}"  ng-src="{{material.ECM_THUMBNAIL_IMAGES?upload_url+material.ECM_THUMBNAIL_IMAGES.replace('$$/', ''):back_side_img.indexOf(material.ECM_ECI_CODE) < 0 ? upload_url + material.ECM_IMAGE_PATH.replace('$$/', '')  : upload_url + material.ECM_BACK_SIDE_TEXTURE_IMG_PATH.replace('$$/', '')}}" title="{{material.ECM_TOOL_TIP}}" alt="{{material.ECI_SEO_TAG?material.ECI_SEO_TAG:'material Title'}}" ng-click="applyImg(material, material)">
                                                    <a class="floatLeft customize_{{material.ECM_CODE}}" href="customizing/{{cat_code}}/{{material.ECM_ECI_CODE}}/{{material.ECM_CODE}}"  ng-if="material.ECI_ALLOW_ADD_TO_CART_YN == 'C'">
                                                        <img class="threeD" ng-src="{{image_path + 'threeD.png'}}">
                                                    </a> 
                                                    <i id="like{{material.ECM_CODE}}" class="like{{likeClass ? material.ECM_CODE+likeClass : material.ECM_CODE + material.ECM_CODE}} fa-heart heart_icon" ng-class="{'fas': material.FAV_YN, 'fal': !material.FAV_YN }" style="z-index: 2;" ng-click="fa_wishList(material);" ></i>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>	
                                    	
                            
                            
                                    <div class="prodTileContent item-info-product">
                                        
                                        <div class="col-md-12 col-sm-12 col-xs-12 viewDetail nopadding mb-5">
                                            <a class="col-md-12 col-sm-12 col-xs-12 buy_{{material.ECM_CODE}}" href="material?item={{material.ITEM_ID}}&product={{material.PRODUCT_DESC}}&id={{material.ECM_CODE}}&prod_id={{material.ECM_ECI_CODE}}&if={{material.ECM_IF_CODE}}&cat_code={{cat_code}}&coll_desc={{material.ECM_ECC_DESC}}"><center translate="VIEW_DETAILS">VIEW DETAILS</center></a>
                                        </div>
                                        <div class="col-md-12 promocode" style="padding: 0; position: inherit;"  ng-if="material.PROMO == 'B1G1'">
                                            <p class="promocode_p" style="margin-bottom: 5px;" translate="b1g1_promo">Buy 1 Get 1: Use Code B1G1</p>
                                        </div>	
                                        <div class="clearfix"></div>
                            
                                        <div class="info-product-price">
                                            <div class="tileColors mrT0 col-md-12">
                                                <div class="moreColors moreIF{{material.ECM_CODE}}"></div>
                                            </div>
                                            
                                            <div class="col-md-3" ng-if="material.FREE_DEL_INST_YN == 'FREE_DEL_INST_Y'" style="padding: 8px 0px 0px 0px;">                                                       
                                                <img ng-src="{{asset_img}}Installation-Icon.png" alt="Free Delivery with installation" style="height: auto;width: 76px;"/>
                                            </div>
                            
                                            <div class="col-md-12 col-sm-12 col-xs-12 nopadding mb-5 bordTop">
                                                <div class="col-md-6 col-xs-12 nopadding text-left">
                                                    <img class="brand_icon lazyload" ng-src="{{material.BRAND_LOGO ? material.BRAND_LOGO : ''}}" ng-if="material.ECM_BR_CODE == 13" style="width: 50px !important;">
                                                    <img class="brand_icon lazyload" ng-src="{{material.BRAND_LOGO ? material.BRAND_LOGO : ''}}" ng-if="material.ECM_BR_CODE == 04" style="width: auto !important;">
                                                    <img class="brand_icon lazyload" ng-src="{{material.BRAND_LOGO ? material.BRAND_LOGO : ''}}" ng-class="{hide: material.ECM_BR_CODE == 13 || material.ECM_BR_CODE == 04 }">
                                                </div>
                                                <div class="col-md-6 col-xs-12 xs-text-left text-right stok_unit nopadding">
                                                    <strong id="familyItemCode{{material.ECM_CODE}}">{{material.ITEM_ID}}</strong>
                                                    
                                                </div> 
                                            </div>
                            
                                            <div class="clearfix"></div>
                            
                            
                            
                                            
                                            
                                            <div class="col-md-12 col-sm-12 col-xs-12 nopadding mb-5 text-right was_total bordBot" ng-if="shopping == true && server_name == false">
                                                <a class=" input-group buyNow floatRight customize_col-xs-12 col-sm-12 col-md-12" href="customizing/{{cat_code}}/{{group[mat_key].ECM_ECI_CODE}}/{{group[mat_key].ECM_CODE}}" ng-if="group[mat_key].ECI_PRODUCT_YN == 'Y' && group[mat_key].ECI_ALLOW_ADD_TO_CART_YN != 'I'" translate="start_customize" ng-if="product_id != 134268">
                                                    BUY NOW
                                                </a>
                                            </div>
                                        </div>	
                                        <div class="clearfix"></div>
                                    </div>
                                </div>	
                            </div>
                        </div>
                            
                
                    <!-- </div> -->

                    </div>  

                    <div class="productTile product-men" ng-repeat="(mat_key, material) in familyGroup"  data-prodid="{{material.IF_CODE}}" ng-if="festivalType == 'Sale'">
                        <div class="shop">
                            <div class="men-pro-item">
                                <div class="men-thumb-item mb-5">
                                    <div class="productImageWrap hasRollover">
                                        <div class="prodImgContain">
                                            <p class="image-caption">
                                                <strong>
                                                    <span id="offer_{{material.ECM_CODE}}" class="label"  ng-if="material.PRICE_OFFER_PCT > 0 && material.ECI_ALLOW_ADD_TO_CART_YN == 'C' && server_name == true" translate-values="{price:{{material.PRICE_OFFER_PCT}}}">{{material.PRICE_OFFER_PCT}}% OFF</span>
                                                </strong>
                                            </p>
                                            <div class="item active">
                                                <img class="thumb_swatch" id="applyFamImg{{material.ECM_CODE}}"  ng-src="{{material.ECM_THUMBNAIL_IMAGES?upload_url+material.ECM_THUMBNAIL_IMAGES.replace('$$/', ''):back_side_img.indexOf(material.ECM_ECI_CODE) < 0 ? upload_url + material.ECM_IMAGE_PATH.replace('$$/', '')  : upload_url + material.ECM_BACK_SIDE_TEXTURE_IMG_PATH.replace('$$/', '')}}" title="{{material.ECM_TOOL_TIP}}" alt="{{material.ECI_SEO_TAG?material.ECI_SEO_TAG:'Product Title'}}" ng-click="applyImg(material, material)">
                                                
                                                <i id="like{{material.ECM_CODE}}" class="like{{likeClass ? material.ECM_CODE+likeClass : material.ECM_CODE + material.ECM_CODE}} fa-heart heart_icon" ng-class="{'fas': material.FAV_YN, 'fal': !material.FAV_YN }" style="z-index: 2;" ng-click="fa_wishList(material);" ></i>
                                               
                                                
                                                <div class="col-md-12 promocode"  ng-if="FREE_DEL_INST_YN == 'FREE_DEL_INST_Y'">
                                                    <img ng-src="{{asset_img}}Installation-Icon.png" alt="Free Delivery with installation" style="height: auto;width: 76px;"/>
                                                </div>
                                           
                                            </div> 
                                        </div>
                                    </div>
                                </div>		
                                <div class="prodTileContent item-info-product">
                                    <div class="col-md-12 col-sm-12 col-xs-12 viewDetail nopadding mb-5">
                                        <a class="col-md-12 col-sm-12 col-xs-12 buy_{{material.ECM_CODE}}" href="material?item={{material.ITEM_ID}}&product={{material.PRODUCT_DESC}}&id={{material.ECM_CODE}}&prod_id={{material.ECM_ECI_CODE}}&if={{material.ECM_IF_CODE}}&cat_code={{cat_code}}&coll_desc={{material.ECM_ECC_DESC}}"><center translate="VIEW_DETAILS">VIEW DETAILS</center></a>
                                    </div>
                                    <div class="col-md-12 promocode" style="padding: 0; position: inherit;"  ng-if="material.PROMO == 'B1G1'">
                                        <p class="promocode_p" style="margin-bottom: 5px;" translate="b1g1_promo">Buy 1 Get 1: Use Code B1G1</p>
                                    </div>	
                                    <div class="clearfix"></div>
                                    <div class="info-product-price">
                                        <div class="col-md-12 col-sm-12 col-xs-12 nopadding mb-5 bordTop">
                                            <div class="col-md-6 col-xs-12 nopadding text-left">
                                                <img class="brand_icon lazyload" ng-src="{{material.BRAND_LOGO ? material.BRAND_LOGO : ''}}" ng-if="material.ECM_BR_CODE == 13" style="width: 50px !important;">
                                                <img class="brand_icon lazyload" ng-src="{{material.BRAND_LOGO ? material.BRAND_LOGO : ''}}" ng-if="material.ECM_BR_CODE == 04" style="width: auto !important;">
                                                <img class="brand_icon lazyload" ng-src="{{material.BRAND_LOGO ? material.BRAND_LOGO : ''}}" ng-class="{hide: material.ECM_BR_CODE == 13 || material.ECM_BR_CODE == 04 }">
                                            </div>
                                            <div class="col-md-6 col-xs-12 xs-text-left text-right stok_unit nopadding">
                                                <strong id="familyItemCode{{material.ECM_CODE}}">{{material.ITEM_ID}}</strong>
                                                
                                            </div> 
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 nopadding mb-5 text-right was_total bordBot" ng-if="shopping == true && server_name == true">
                                            <div class="col-md-12 col-sm-12 col-xs-12 nopadding" ng-if="material.PRICE > 0">
                                                <del id="priceWas_{{material.ECM_CODE}}" ng-if="material.PRICE_OFFER_PCT > 0 && material.ECI_ALLOW_ADD_TO_CART_YN == 'C'">{{total_ccy_code}}  {{material.PRICE_WAS_MC| number:ccy_decimal}}</del> 
                                                <strong id="price_{{material.ECM_CODE}}" ng-if="material.ECI_ALLOW_ADD_TO_CART_YN == 'C'"> <span style="letter-spacing: 0;font-size: 11px;font-weight: bold;" ng-if="material.ECI_PRODUCT_YN == 'Y'"> From </span>  {{total_ccy_code}} {{material.PRICE_MC| number:ccy_decimal}}</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-12  col-sm-12 col-xs-12 nopadding" ng-if="shopping == true && server_name == true">
                                            <div class="col-md-6 col-sm-12 col-xs-12 padding_left0 padding_xs_left0"  ng-if="material.FREE_SAMPLE_YN == 'Y' && material.ECI_ALLOW_ADD_TO_CART_YN != 'I'">
                                                <a id="{{material.ECM_CODE}}" class="col-md-12 col-sm-12 col-xs-12 nopadding input-group {{catalogue_item.indexOf(material.ECM_CODE) < 0 ? 'freeSample':'sampleAdded'}}" ng-click="colorSwatches(material, 'saveIncart', material_code[material.ECM_CODE], material.ECM_CODE)">
                                                    {{catalogue_item.indexOf(material.ECM_CODE) < 0 ? free_sample_text: btnLength[material.ECM_CODE] < 0 ? free_sample_text:added_text}}
                                                </a>  
                                            </div> 
                                            <div id="addDirect{{material.ECM_CODE}}" class="{{non_product.indexOf(material.ECM_CODE) >= 0 ? 'hide' : ''}}" ng-if="material.PRICE > 0">   
                                                <a class=" input-group buyNow floatRight {{material.ECI_PRODUCT_YN == 'N' && material.FREE_SAMPLE_YN == 'Y' ? 'col-md-6 col-xs-12' : 'col-md-12 col-sm-12 col-xs-12'}}" ng-if="material.ECI_PRODUCT_YN == 'N' && (material.FREE_SAMPLE_YN == 'N' || material.FREE_SAMPLE_YN == 'Y')" ng-disabled="add_more_item" ng-click="nonProduct(material, material.ECM_CODE, singleFamily[material.ECM_CODE])"  translate="add_to_cart">
                                                    ADD TO CART
                                                </a>
                                            </div>
                                            <div id="nonDirect{{material.ECM_CODE}}" class="nopadding {{material.ECI_PRODUCT_YN == 'N' && material.FREE_SAMPLE_YN == 'Y' ? 'col-md-6 col-xs-12' : 'col-md-12 col-sm-12 col-xs-12'}} {{non_product.indexOf(material.ECM_CODE) >= 0 ? '' : 'hide'}}">
                                                <center>
                                                    <span>
                                                        <div class="qty">
                                                            <span>Qty :</span>
                                                            <input type="text"  min="1" max="30" class="counter-field" ng-model="qty[material.ECM_CODE].value" ng-blur="changed(singleFamily[material.ECM_CODE], material)">
                                                            <i class="fal fa-angle-up materialQty" ng-click="plus(singleFamily[material.ECM_CODE], material, noneProductKey[non_product.indexOf(material.ECM_CODE)])"></i>
                                                            <i class="fal fa-angle-down materialQty" ng-click="minus(singleFamily[material.ECM_CODE], material)"></i>
                                                        </div>
                                                    </span>
                                                </center>
                                            </div>
                                            <a class=" input-group buyNow floatRight customize_{{material.ECM_CODE}} {{material.ECI_PRODUCT_YN == 'Y' ? 'col-md-6 col-xs-12 col-sm-12': 'col-md-12 col-sm-12 col-xs-12' }}" href="customizing/{{cat_code}}/{{material.ECM_ECI_CODE}}/{{material.ECM_CODE}}" ng-if="material.ECI_PRODUCT_YN == 'Y' && material.ECI_ALLOW_ADD_TO_CART_YN != 'I'" translate="BUY_NOW" ng-if="product_id != 134268">
                                                BUY NOW
                                            </a>
                                            <a class="input-group buyNow floatRight {{material.FREE_SAMPLE_YN == 'Y' &&  material.ECI_ALLOW_ADD_TO_CART_YN != 'I' ? 'col-md-6 col-xs-12 col-sm-12': 'col-md-12 col-sm-12 col-xs-12' }}" ng-if="material.ECI_ALLOW_ADD_TO_CART_YN == 'I'" ng-click="getQuote(item)">
                                                CONTACT US
                                            </a>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div id="addDirect{{material.ECM_CODE}}" class="{{non_product.indexOf(material.ECM_CODE) >= 0 ? 'hide' : ''}}" ng-if="material.PRICE > 0 && server_name == false">   
                                            <a class=" input-group buyNow floatRight {{material.ECI_PRODUCT_YN == 'N' && material.FREE_SAMPLE_YN == 'Y' ? 'col-md-6 col-xs-12' : 'col-md-12 col-sm-12 col-xs-12'}}" ng-if="material.ECI_PRODUCT_YN == 'N' && (material.FREE_SAMPLE_YN == 'N' || material.FREE_SAMPLE_YN == 'Y')" ng-disabled="add_more_item" ng-click="nonProduct(material, material.ECM_CODE, singleFamily[material.ECM_CODE])"  translate="add_to_fav">
                                               
                                            </a>
                                        </div>
                                    </div>	
                                    <div class="clearfix"></div>
                                </div>
                            </div>	
                        </div>
                    </div>
                
        
        <div class="clearfix"></div>

        <center>
            <img class="materialLoadmore" ng-show="showLoadmore" ng-src="{{image_path + 'ajax-loader1.gif'}}">
        </center>  

        

        <div class="container" ng-if="totalItems > 20" pajinatifydir>
            <div class='pagination' data-total-count={{totalItems}} data-take={{itemsPerPage}}></div>
        </div>
       
        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="totalcoll <= 0" ng-show="no_record">
        <!-- <h3 style="text-align: center;padding: 50px;color:#e83535ba;"> No record found! </h3> -->
            <br>
            <span style="font-size: 12px;text-align:center" translate="No_record"> No record exists! </span>

        </div> 

                </div>	

                <div id="allTiles" class="tileContainer direction" ng-if="familyCount == 0">
                        
                    <div class="productTile product-men" ng-repeat="(mat_key, mat_row) in material"  data-prodid="{{mat_row.IF_CODE}}" ng-click="color_refresh()" ng-if="mat_row.family.length > 0">
                        <div class="shoe">
                            <div class="men-pro-item">
                                <div class="men-thumb-item mb-5">
                                    <div class="productImageWrap hasRollover">
                                        <div class="prodImgContain">
                                        <div class="image-caption" ng-repeat="mat_family in mat_row.family| limitTo : 1" > 
                                            <p style="padding: 5px 0;" ng-if="mat_family.PRICE_OFFER_PCT > 0 && mat_family.ECI_ALLOW_ADD_TO_CART_YN == 'C'">                                         
                                                <span  id="offer_{{mat_row.ECM_CODE}}" class="label "   translate="off_price" translate-values="{price:{{mat_family.PRICE_OFFER_PCT}}}">{{mat_family.PRICE_OFFER_PCT}}% OFF</span>
                                            </p> 
                                        </div>

                                            <div class="item active">
                                                <img class="thumb_swatch" id="applyFamImg{{mat_row.ECM_CODE}}"  ng-src="{{material[mat_key].ECM_THUMBNAIL_IMAGES?upload_url+material[mat_key].ECM_THUMBNAIL_IMAGES.replace('$$/', ''):back_side_img.indexOf(material[mat_key].ECM_ECI_CODE) < 0 ? upload_url + material[mat_key].ECM_IMAGE_PATH.replace('$$/', '')  : upload_url + material[mat_key].ECM_BACK_SIDE_TEXTURE_IMG_PATH.replace('$$/', '')}}" title="{{material[mat_key].ECM_TOOL_TIP}}" alt="{{material[mat_key].ECI_SEO_TAG?material[mat_key].ECI_SEO_TAG:'Material Title'}}" ng-click="applyImg(material[mat_key], mat_row)">
                                                <a class="floatLeft customize_{{mat_row.ECM_CODE}}" href="customizing/{{cat_code}}/{{mat_row.ECM_ECI_CODE}}/{{mat_row.ECM_CODE}}"  ng-if="mat_family.ECI_ALLOW_ADD_TO_CART_YN == 'C'">
                                                    <img class="threeD" ng-src="{{image_path + 'threeD.png'}}">
                                                </a> 
                                                <i id="like{{mat_row.ECM_CODE}}" class="like{{likeClass ? mat_row.ECM_CODE+likeClass : mat_row.ECM_CODE + mat_row.ECM_CODE}} fa-heart heart_icon" ng-class="{'fas': mat_row.FAV_YN, 'fal': !mat_row.FAV_YN }" style="z-index: 2;" ng-click="fa_wishList(mat_row);" ></i>
                                                
                                                <div class="col-md-12 promocode" ng-if="mat_row.FREE_DEL_INST_YN == 'FREE_DEL_INST_Y'">
                                                    <img ng-src="{{asset_img}}Installation-Icon.png" alt="Free Delivery with installation" style="height: auto;width: 76px;"/>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>		
                        
                        
                                <div class="prodTileContent item-info-product" ng-repeat="mat_family in mat_row.family| limitTo : 1">
                                    <div class="col-md-12 col-sm-12 col-xs-12 viewDetail nopadding mb-5">
                                        <a class="col-md-12 col-sm-12 col-xs-12 buy_{{mat_row.ECM_CODE}}" href="material?item={{material[mat_key].ITEM_ID}}&product={{material[mat_key].PRODUCT_DESC}}&id={{material[mat_key].ECM_CODE}}&prod_id={{material[mat_key].ECM_ECI_CODE}}&if={{material[mat_key].ECM_IF_CODE}}&cat_code={{cat_code}}&coll_desc={{material[mat_key].ECM_ECC_DESC}}"><center translate="VIEW_DETAILS">VIEW DETAILS</center></a>
                                    </div>	
                                   
                                    <div class="clearfix"></div>
                                </div>
                            </div>	
                        </div>
                    </div>
            
    
                <div class="clearfix"></div>
                <center>
                    <img class="materialLoadmore" ng-show="showLoadmore" ng-src="{{image_path + 'ajax-loader1.gif'}}">
                </center>  
                
                <div class="container" ng-if="totalItems > 20" pajinatifydir>
                    <div class='pagination' data-total-count={{totalItems}} data-take={{itemsPerPage}}></div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="totalcoll <= 0" ng-show="no_record">
                    <br>
                    <span style="font-size: 12px;text-align:center" translate="No_record"> No record exists! </span>
                </div> 

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script>

$('#left_filter_loader_div').click(function () {
    if ($('#left_filter_menu').is(':visible')) {
    $('#left_filter_loader_div').hide();
            $('#left_filter_menu').animate({
                width: 'toggle'
        });
    }
    });
</script>





<style>

    .pajinatify {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        overflow: hidden; }
        .pajinatify.pajinatify__rtl {
          direction: ltr;
          justify-content: unset; }
        .pajinatify > span {
          display: inline-block;
          text-align: center;
          width: 40px;
          height: 40px;
          line-height: 3.1 ;
          color: #111;
          text-decoration: none;
          border: 1px solid #e7e7e7;
          border-right-color: #fff;
          position: relative;
          background-color: #fff; }
          .pajinatify > span:last-child {
            border-right-color: #e7e7e7; }
          .pajinatify > span.pajinatify__button {
            cursor: pointer; }
            .pajinatify > span.pajinatify__button:hover, .pajinatify > span.pajinatify__button:focus {
              background-color: #f0f0f0;
              border-right-color: #f0f0f0; }
          .pajinatify > span.pajinatify__current {
            background-color: #333;
            border-color: #535355;
            color: #fff;
            cursor: default;
            pointer-events: none; }
          .pajinatify > span.pajinatify__arrow:before {
            content: '';
            display: block;
            border-right: 1px solid #999;
            border-bottom: 1px solid #999;
            width: 8px;
            height: 8px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -4px; }
          .pajinatify > span.pajinatify__arrow.arrow__next {
            right: 0; }
            .pajinatify > span.pajinatify__arrow.arrow__next:before {
              -webkit-transform: rotate(-45deg);
                      transform: rotate(-45deg);
              margin-left: -6px; }
          .pajinatify > span.pajinatify__arrow.arrow__prev {
            left: 0; }
            .pajinatify > span.pajinatify__arrow.arrow__prev:before {
              -webkit-transform: rotate(135deg);
                      transform: rotate(135deg);
              margin-left: -4px; }
      
</style>
