<!-- <div class="control_section right-side-tab scrollbar-dynamic" data-jquery-scrollbar="jqueryScrollbarOptions">
    <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="item in itemProduct" ng-class="{active_icon: item.ECI_CODE == item_selected}" style="padding: 15px;">
        <div class="pro_item" ng-click="itemSection(item)">
            <center><img ng-src="{{s3_image_path + item.ECI_IMAGE_PATH}}" width="100%" height="150px"></center>
             <img ng-src="{{image_path}}Information icon-01.png" class="zoom_icon" ng-bootbox-title="{{item.EIS_DESC}}" ng-bootbox-custom-dialog="{{item.EIS_MORE.length>0?item.EIS_MORE:' '}}" ng-bootbox-options="customDialogOptions" ng-bootbox-class-name="tool_pupup" />
            <div class="product_title"><span class="text-center">{{item.ECI_DESC}}</span></div>
        </div>
    </div>
</div>
 -->
