
<style>
    .heading.title {
        color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }
</style>

<div class="col-md-12 col-xs-12 nopadding">
    <!-- PARENT STEP -->
    <div class="col-md-12 col-xs-12 nopadding mb-10"  ng-repeat="parent_step in midd66774">
        <div class=" col-md-6 col-sm-6 col-xs-6  mb-10" ng-repeat="item in parent_step.child" ng-class="{active_icon: item.EIS_CODE == glassOption_selected}">
            <div class="col-md-11 nopadding" ng-click="glassOption(item, parent_step)">
				<center>
					<div ng-if="item.EIS_IMAGE_PATH">
						<img ng-src="{{s3_image_path + item.EIS_IMAGE_PATH}}" class="mount_width">
					</div>
					<div ng-if="!item.EIS_IMAGE_PATH"> 
						<img ng-src="{{image_path + 'default_img/' + default_img[item.EIS_CODE]}}" class="mount_width">
					</div>
					<div class="product_title">{{item.EIS_DESC}}</div>
				</center>
			</div>
            <img ng-src="{{image_path}}Information icon-01.png"  class="zoom_icon" ng-click="steps_info(item)" />
        </div>

        <div class="col-md-12" id="{{parent_step.ECS_CODE}}" ng-repeat="item in parent_step.child">
            <div id="{{child_step.ECS_CODE}}" ng-repeat="child_step in item.child" ng-if="glassOption_selected == item.EIS_CODE">
                <div class="col-xs-12 step_background mb-10">
                    {{child_step.EIS_DESC}}  
                    <!-- <b>({{step_array[child_step.ECS_CODE].option_desc}})</b> -->
  
					<b>&nbsp;&nbsp;
                        <span id="desc{{child_step.ECS_CODE}}" class="pull-right validationCheck" style="font-size: 13px;">
                            <i class="fas fa-exclamation hide" style="font-size: 10px !important;color: red;" title="{{'step_error_mgs' | translate :{step_name: child_step.EIS_DESC } }}"></i> 
                            <span>{{step_array[child_step.ECS_CODE].option_desc}} </span>
                            <!-- <span>{{step_array[child_step.ECS_CODE].pcs}} Pcs</span> -->

                        </span>
                    </b>
                </div>
                <div class="col-md-12 nopadding middletemplate" ng-include="temp_path + 'tool/' + child_step.ECS_HTML_TEMPLATE_PATH"></div> 
            </div>
        </div>
    </div>
    <!-- PARENT STEP -->
    
    <!-- INNER CHILD PARENT STEP -->
    <div class=" col-md-6 col-sm-6 col-xs-6  mb-10" ng-repeat="item in child_step.child" ng-class="{active_icon: item.EIS_CODE == glassOption_selected}">
        <div class="col-md-11 nopadding" ng-click="glassOption(item, child_step)">
			<center>
				<div ng-if="item.EIS_IMAGE_PATH">
					<img ng-src="{{s3_image_path + item.EIS_IMAGE_PATH}}" class="mount_width">
				</div>
				<div ng-if="!item.EIS_IMAGE_PATH"> 
					<img ng-src="{{image_path + 'default_img/' + default_img[item.EIS_CODE]}}" class="mount_width">
				</div>
				<div class="product_title"><span class="text-center">{{item.EIS_DESC}}</div>

			</center>
		</div>
        <img ng-src="{{image_path}}Information icon-01.png"  class="zoom_icon" ng-click="steps_info(item)" />
    </div>

    <div id="{{item.ECS_CODE}}" class="col-md-12" ng-repeat="item in child_step.child">
        <div ng-repeat="child_step in item.child" ng-class="{active_icon: item.EIS_CODE == glassOption_selected}">
            <div class="col-xs-12 step_background mb-10">
                {{child_step.EIS_DESC}}  
				<b>&nbsp;&nbsp;
                    <span id="desc{{child_step.ECS_CODE}}" class="pull-right validationCheck" style="font-size: 13px;">
                        <i class="fas fa-exclamation hide" style="font-size: 10px !important;color: red;" title="{{'step_error_mgs' | translate :{step_name: child_step.EIS_DESC } }}"></i> 
                        <span>{{step_array[child_step.ECS_CODE].option_desc}} </span>
                    </span>
                </b> 
            </div>
            <div class="col-md-12 nopadding middletemplate" ng-include="temp_path + 'tool/' + child_step.ECS_HTML_TEMPLATE_PATH"></div> 
        </div>
    </div>

    <!-- INNER CHILD PARENT STEP -->













    <div class="col-md-12 col-xs-12" ng-if="valance_selected == 'VAL01' && color_data1480.length > 0">
        <h6 class="heading title">Valance Color</h6>
        <div class="col-md-4 col-xs-4  pro_item" ng-if="valance_selected == 'VAL01'" ng-repeat="item in color_data1480" ng-class="{active_icon: item.ECM_CODE == valanceColor_selected}">
            <center ng-click="valanceColor(item)">
                <!--                <img ng-src="{{image_upload + item.ECM_IMAGE_PATH}}" width="100%" height="100px">-->


                <div class="col-md-12 col-xs-12 nopadding" style="position: relative;z-index: 1;" ng-if="zig_zagImg.indexOf(item.ECM_ECI_CODE) != 0">
                    <img ng-src="{{asset_img}}Zigzag-01-01.png" class="color_img_popup"  width="100%" style="height: 120px;" >
                </div>
                <div class="col-md-12 col-xs-12 nopadding" style="margin-top: -120px;">
                    <img ng-src="{{item.ECM_THUMBNAIL_IMAGES?image_upload+item.ECM_THUMBNAIL_IMAGES:image_upload + item.ECM_IMAGE_PATH}}" width="100%" style="height: 119px;" title="{{item.ECM_TOOL_TIP}}">
                </div>


            </center>
            <!--<img ng-src="{{image_path}}Information icon-01.png" class="fa fa-search-plus zoom_icon" ng-click="matrialPopup(item)" />-->
            <div class="col-md-12 nopadding">
                <div class="product_title" style="width:85%;height: 22px;overflow: hidden;float: left;">
                    <span class="text-center">{{item.ECM_ITEM_ID}}</span>
                </div>
                <div class="info_img">
                    <img ng-src="{{image_path}}Information icon-01.png"  class="fas fa-info-circle" ng-click="matrialPopup(item)" />
                </div>
            </div>

            <!--            <div class="product_title"><span class="text-center">{{item.ECM_ITEM_ID}}</span></div>-->
        </div>
        <div class="col-md-12 load_more" ng-hide="load_more_valance" >
            <a class="pull-right" href="" ng-click="loadMoreValanceColor()" translate="more"> More...</a>
        </div>
    </div>
</div>